{% extends 'base.html' %}
{% block errors %}
	<h1>File Too Large (413)</h1>
	<script type="text/javascript">
		alert('being redirected')

		/*
		let previous_url = document.referrer
		if (previous_url.split('/post/new?')[1]) {
			if (previous_url.split('/post/new?')[1].split('=')[1] && typeof previous_url.split('/post/new?')[1].split('=')[1] == 'number') {
				let previous_post_cache_id = previous_url.split('/post/new?')[1].split('=')[1]

				if (previous_post_cache_id) {
					location.href = `/post/new?post_cache_id=${previous_post_cache_id}`
				}
			}
		}
	</script>
{% endblock %}