{% extends "base.html" %}
{% block body %}
	<div id="main-body">
		<div id="sign-in-prompt">
			<!-- Collection Icon -->
			<svg xmlns="http://www.w3.org/2000/svg" width="128px" height="128px" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
				<path fill="currentColor" d="M7 5h14v2H7V5m0 8v-2h14v2H7M4 4.5A1.5 1.5 0 0 1 5.5 6A1.5 1.5 0 0 1 4 7.5A1.5 1.5 0 0 1 2.5 6A1.5 1.5 0 0 1 4 4.5m0 6A1.5 1.5 0 0 1 5.5 12A1.5 1.5 0 0 1 4 13.5A1.5 1.5 0 0 1 2.5 12A1.5 1.5 0 0 1 4 10.5M7 19v-2h14v2H7m-3-2.5A1.5 1.5 0 0 1 5.5 18A1.5 1.5 0 0 1 4 19.5A1.5 1.5 0 0 1 2.5 18A1.5 1.5 0 0 1 4 16.5Z"/>
			</svg>
			<h2>Save Posts To Collections</h2>
			<span>Sign in to save posts and never lose them again</span>
			<a class="sign-in-button" href="{{ url_for('users.signin') }}" title="Sign In">
				<!-- User Icon -->
				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 15 15">
					<path fill="currentColor" d="M5 5.5a2.5 2.5 0 1 1 5 0a2.5 2.5 0 0 1-5 0Z"/>
					<path fill="currentColor" fill-rule="evenodd" d="M7.5 0a7.5 7.5 0 1 0 0 15a7.5 7.5 0 0 0 0-15ZM1 7.5a6.5 6.5 0 1 1 10.988 4.702A3.5 3.5 0 0 0 8.5 9h-2a3.5 3.5 0 0 0-3.488 3.202A6.482 6.482 0 0 1 1 7.5Z" clip-rule="evenodd"/>
				</svg>
				Sign In
			</a>
		</div>
	</div>
{% endblock%}