/* lato-regular - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

[data-theme="light"] {
	--primary-color: #f2f2f2;
	--secondary-color: #fff;
	--tertiary-color: #e6e6e6;

	--color-sceme: #f00;

	--search-box: #f2f2f2;
	--side-menu-color: #e6e6e6;

	--primary-text: #000;
	--secondary-text: #aaa;

	--primary-icon: #000;
}

[data-theme="dark"] {
	--primary-color: #181818;
	--secondary-color: #262626;
	--tertiary-color: #444;

	--color-sceme: #f00;

	--search-box: #0b0b0b;
	--side-menu-color: #282828;

	--primary-text: #fff;
	--secondary-text: #aaa;

	--primary-icon: #fff;
}

/* General Classes */
.text-muted {
	color: var(--secondary-text);
}

.rounded {
	border-radius: 50%;
}


/* Error Messages */
.message {
	position: absolute;
	top: 64px;
	right: 36vw;

	color: #fff;
	padding: 24px 32px;

	border-radius: 6px;
}

.message-success {
	background-color: #28a745;

	border: 5px solid #28a745;
}

.message-info {
	background-color: #f00;

	border: 5px solid #f00;
}

.message-danger {
	background-color: #f00;

	border: 5px solid #f00;
}

.message-closer {
	position: absolute;
	top: -1px;
	right: 6px;

	cursor: pointer;
}


/* Notification Messages */
.notification {
	position: absolute;
}


body {
	margin: 0;
	padding: 0;
	background-color: var(--primary-color);
	font-family: 'Lato', sans-serif;
}

p, h1, h2, h3, h4, h5, h6, span {
	color: var(--primary-text);
	margin: 0px;
	padding: 0px;
}

a {
	color: #3ea6ff;
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;

	margin: 0;
	padding: 0;
}

input[type="submit"] {
	cursor: pointer;

	margin: 0;
	padding: 0;
}

nav a {
	color: var(--primary-text);
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
}

svg {
	color: var(--primary-icon);
}


/* Sign In Prompts */
#sign-in-prompt {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;

	height: 512px;
}


/* Left nav */
.left-nav {
	position: fixed;
	top: 56px;

	height: calc(100vh - 56px);
	width: 72px;

	display: flex;
	flex-direction: column;
	align-items: center;

	color: var(--primary-text);

	background-color: var(--secondary-color);
}

.left-nav a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 72px;
	width: 90%;

	font-size: 12px;

	border-radius: 10px;
}

.left-nav a:hover {
	background-color: var(--tertiary-color);
}


/* Top nav */
.top-nav {
	position: fixed;
	height: 56px;
	width: 100%;
	z-index: 99;

	display: flex;
	align-items: center;
	justify-content: space-between;

	color: var(--primary-text);

	background-color: var(--secondary-color);
}


/* Navbar Left Side */
.nav-left {
	display: flex;
	align-items: center;
	gap: 32px;

	margin-left: 14px;
}

#side-menu-button {
	display: flex;
	align-items: center;

	padding: 4px;

	color: var(--primary-text);

	border-radius: 25px;
	background-color: transparent;
	border: none;
}

#side-menu-button:hover {
	background-color: var(--tertiary-color);
}

#side-menu {
	position: absolute;
	top: 56px;
	left: 0;
	height: calc(100vh - 56px);
	z-index: 99;

	flex-direction: column;
	align-items: flex-start;

	padding: 8px;

	overflow-y: scroll;

	background-color: var(--secondary-color);
	transition: all 0.3s ease 0s;
}

.side-menu-div {
	display: flex;
	flex-direction: column;
	gap: 4px;

	width: 100%;

	padding: 8px 0;

	border-bottom: 1px groove var(--secondary-text);
}

#side-menu h4 {
	display: flex;
	justify-content: center;

	padding: 8px 0;
}

#side-menu a {
	display: flex;
	align-items: center;
	gap: 5px;

	padding: 8px;
	margin: 0 16px;

	border-radius: 10px;
}

#side-menu a:hover {
	background-color: var(--tertiary-color);
}

.side-menu-icon {
	display: flex;
	justify-content: center;

	width: 20%;
}

#side-menu-user-img {
	border-radius: 50%;
}

.collections-toggle-button {
	display: flex;
	align-items: center;
	gap: 4px;

	margin: 0 16px;
	padding: 8px;

	color: var(--primary-text);

	border-radius: 10px;
	background-color: transparent;
	border: none;
}

.collections-toggle-button:hover {
	background-color: var(--tertiary-color);
}

#collections-expanded {
	flex-direction: column;
	gap: 4px;
}


/* Navbar Middle */
#search-container {
	display: flex;
	align-items: center;
}

#search-button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 64px;
	height: 40px;

	color: var(--primary-icon);

	background-color: var(--tertiary-color);
	border: none;
}

#search-input {
	height: 40px;
	width: 512px;

	padding: 0 8px;

	color: var(--primary-text);
	font-size: 18px;
	
	outline: none;
	background-color: var(--search-box);	
	border: none;
}


/* Navbar Right Side */
.nav-right {
	display: flex;
	align-items: center;

	margin-right: 28px;
}

.nav-right > a {
	margin-right: 16px;
}

.dropdown-container {
	display: flex;
	justify-content: flex-end;
}

.dropdown-menu {
	position: absolute;
	width: 128px;
	height: 256px;

	flex-direction: column;
	align-items: center;

	margin-top: 56px;
	padding: 8px;

	border-radius: 10px;
	background-color: var(--side-menu-color);
}

.dropdown-menu a:nth-child(2) {
	margin-top: 8px;
}

.dropdown-menu a {
	width: 100%;
	padding: 8px;

	text-align: center;

	border-radius: 10px;
	background-color: transparent;
}

.dropdown-menu a:hover {
	background-color: var(--tertiary-color);
}

.switch {
	position: relative;
	height: 34px;
	width: 60px;

	display: inline-block;

	margin-top: 5px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	cursor: pointer;

	background-color: #000;
	transition: .4s;
}

.slider:before {
	position: absolute;
	left: 4px;
	bottom: 4px;

	height: 26px;
	width: 26px;

	content: "";

	background-color: #fff;
	transition: .4s;
}

input:checked + .slider {
	background-color: #fff;
}

input:checked + .slider:before {
	background-color: #000;
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}


/* User not Signed In */
.sign-in-button {
	display: flex;
	align-items: center;
	gap: 6px;

	padding: 4px 8px;

	color: var(--primary-text);
	text-decoration: none;

	background-color: transparent;
	border: 1px solid var(--primary-text);
}

#kebab-img {
	display: flex;
	align-items: center;

	margin-right: 8px;
	padding: 8px;

	color: var(--primary-text);

	border-radius: 25px;
	background-color: transparent;
	border: none;
}

#kebab-img:hover {
	background-color: var(--tertiary-color);
}

.dropdown-container-center {
	display: flex;
	justify-content: center;
}


/* User Signed In */
#profile-img {
	background-color: transparent;
	border: none;
}

#profile-img > img {
	border-radius: 50%;
}

/* Body */
#main-body {
	display: flex;
	flex-direction: column;

	color: var(--primary-text);

	padding: 76px 50px 20px 100px;
}

#main-body-nm {
	display: flex;
	flex-direction: column;

	color: var(--primary-text);

	padding: 56px 0 0 72px;
}

/* Fake Post */
#fake-post {
	height: 178px;
}

#fake-post-user-img {
	height: 32px;
	width: 32px;

	margin-right: 5px;

	background-color: var(--secondary-color);
	border-radius: 50px;
}

#fake-post-username {
	height: 16px;
	width: 128px;

	background-color: var(--secondary-color);
}

#fake-post-title-container {
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	margin-top: 8px;

	border-bottom: 1px solid var(--primary-text);
}

#fake-post-title {
	width: 256px;
	height: 26px;

	background-color: var(--secondary-color);
}

#fake-post-date {
	width: 92px;
	height: 100%;

	background-color: var(--secondary-color);
}

.fake-post-text {
	width: 100%;
	height: 16px;

	margin-bottom: 8px;

	background-color: var(--secondary-color);
}

/* Home Posts */
.post-container {
	display: flex;
	flex-direction: column;
	color: var(--primary-text);
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;

	border-radius: 5px;
	border: 2px solid var(--color-sceme);
}

.post-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.post-author {
	display: flex;
	align-items: center;
}

.post-header > a {
	display: inline-flex;
}

.post-user-img {
	border-radius: 50px;
}

.post-header-info {
	display: flex;
	flex-direction: column;

	padding-left: 8px;
}

.post-header-info a {
	color: var(--primary-text);
	text-decoration: none;
}

.post-header-info span {
	color: var(--secondary-text);
}

.post-options-container {
	display: flex;
	justify-content: flex-end;
}

.post-options-button {
	color: var(--primary-icon);

	background-color: transparent;
	border: none;
}

.post-options {
	position: absolute;

	flex-direction: column;

	margin-top: 32px;
	padding: 4px;

	border-radius: 10px;
	background-color: var(--secondary-color);
}

.post-options > button {
	display: flex;
	align-items: center;
	gap: 2px;

	padding: 8px;

	color: var(--primary-text);

	border-radius: 10px;
	background-color: transparent;
	border: none;
}

.post-options > button:hover {
	background-color: var(--tertiary-color);
}

.post-title {
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	border-bottom: 1px solid var(--primary-text);
}

.post-title a {
	color: var(--primary-text);
	font-size: 24px;
	text-decoration: none;

	margin-top: 5px;
	margin-bottom: 5px;
}

.post-content {
	color: var(--primary-text);
	white-space: pre-line;

	margin-top: 7px;
	margin-bottom: 10px;
}


/* Search */
#search-header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: -10px;
	margin-bottom: 5px;

	border-bottom: 1px solid var(--secondary-text);

}

#search-filter-button {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 4px 8px;

	border-radius: 25px;
	background-color: transparent;
	border: none;
}

#search-filter-button:hover {
	background-color: var(--tertiary-color);
}

#search-filter-menu {
	justify-content: space-between;

	height: 256px;

	margin-bottom: 8px;
	padding: 16px;

	border-radius: 10px;
	background-color: var(--secondary-color);
}

.search-filter-column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	width: 20%;
}

.search-filter-selection {
	padding: 8px 0;

	color: var(--secondary-text);
	font-size: 16px;
	text-decoration: none;

	border-radius: 25px;
	background-color: transparent;
	border: none;
}

.search-filter-selection:hover {
	color: var(--primary-text);
}

.search-filter-selected {
	color: var(--primary-text);
}

/* Search User */
.result-user {
	display: flex;

	padding: 8px 0;
	margin-bottom: 16px;

	border-bottom: 1px solid var(--secondary-text);
}

.result-user-img {
	border-radius: 80px;
}

.result-user-info-container {
	color: var(--primary-text);

	margin-left: 32px;
}

.result-user-followers-posts {
	color: var(--secondary-text);
}

.result-user-description {
	color: var(--secondary-text);
	margin-top: 8px;
	white-space: pre-line;
}

/* Explore */
#explore-categories-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.explore-categories {
	display: flex;
	justify-content: space-between;

	height: 116px;
}

.explore-category {
	display: flex;
	flex-direction: column;

	color: var(--primary-text);
	text-decoration: none;

	padding: 10px 25px;
	width: 20%;

	border-radius: 10px;
	background-color: var(--secondary-color);
}

.explore-category > svg, .explore-category > img {
	margin-top: 18px;
}

.explore-category > span {
	margin-top: 8px;
}

/* Explore Featured */
#explore-featured-header {
	color: #ffffff;
	margin: 10px 0;
}

/* Explore Trending */
#explore-trending-header {
	color: #ffffff;
	margin: 10px 0;
}

/* Explore Categories */
.explore-header {
	color: #fff;

	margin-bottom: 8px;
}

/* Following */
.following-section {
	margin-bottom: 18px;
}

.following-header {
	color: var(--primary-text);

	margin-bottom: 8px;
}

.following-body {
	display: flex;
	flex-direction: column;
}

.following-filler {
	color: var(--primary-text);

	margin-bottom: 16px;
}

.followed-user {
	display: flex;

	width: 35%;
	cursor: pointer;
}

.followed-user-img {
	border-radius: 80px;
}

.followed-user-info-container {
	color: var(--primary-text);

	margin-left: 32px;
}

.followed-user-followers-posts {
	color: var(--secondary-text);
}

.following-view-button {
	cursor: pointer;
	align-self: center;

	color: var(--primary-text);
	background-color: transparent;

	padding: 15px 24px;

	border-radius: 4px;
	border: 2px solid #ff0000;
}

/* Library */
.library-section {
	margin-bottom: 18px;
}

.library-header {
	color: var(--primary-text);

	margin-bottom: 8px;
}

.library-body {
	display: flex;
	flex-direction: column;
}

.library-filler {
	color: var(--primary-text);

	margin-bottom: 16px;
}

.library-view-button {
	align-self: center;

	color: var(--primary-text);
	background-color: transparent;

	padding: 15px 24px;

	border-radius: 4px;
	border: 2px solid #f00;
}

#collections-container {
	display: flex;

	gap: 8px;
}

/* User Page */
#user-page-header {
	display: flex;
	flex-direction: column;
}

#user-page-header-background {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#user-page-header-background-change-img {
	position: absolute;
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	color: transparent;

	background-color: #24242400;
	border: none;
}

#user-page-header-background-change-img:hover {
	color: var(--primary-text);
	background-color: #242424b3;
}

#user-page-header-background-change-img > * {
	color: inherit;
}

#user-page-header-background-change-img-confirm-container {
	position: absolute;
	right: 16px;
	bottom: 8px;

	align-items: center;
	gap: 8px;

	padding: 4px;

	background-color: #242424b3;
}

#user-page-header-background-change-img-form {
	display: flex;
	gap: 8px;
}

#user-page-header-background-change-img-form > button {
	display: flex;
	justify-content: center;

	background-color: transparent;
	border: none;
}

#user-page-header-background-img {
	height: 224px;
	width: 100%;

	object-fit: cover;
	object-position: 100% 0;
}

#user-page-header-info {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 32px 64px 0;
}

#user-page-header-info-info {
	display: flex;
	flex-direction: column;

	margin-left: 16px;

	color: var(--primary-text);
}

#user-page-nav-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;

	color: var(--secondary-text);
	border-bottom: 1px groove var(--secondary-text);
}

#user-page-nav {
	display: flex;
}

.user-page-nav-item {
	padding: 12px 32px;

	color: var(--primary-text);
	font-size: 16px;

	background-color: transparent;
	border: none;
}

.user-page-nav-item:hover {
	background-color: var(--secondary-color);
}

.user-page-nav-item-selected {
	border-bottom: 3px solid var(--primary-text);
}

#user-page-body {
	display: flex;
	flex-direction: column;

	padding: 24px 48px 0;
}


/* User Posts */
#user-posts-header {
	display: flex;
	justify-content: space-between;

	margin-bottom: 8px;
}

/* User About */
#user-description-container {
	height: 256px;
	width: 75%;
}

#user-description {
	white-space: pre-line;
}

#user-description-form {
	flex-direction: column;

	align-items: flex-end;
}

#user-description-textarea {
	color: var(--primary-text);
	font-size: 16px;

	height: 10rem;
	width: 99%;

	margin-top: 8px;
	padding: 8px;

	background-color: transparent;
	border: 2px solid var(--primary-text);
	border-radius: 5px;
}

#user-description-submit {
	color: #fff;
	cursor: pointer;

	margin-top: 8px;
	padding: 8px 24px;

	background-color: #d80000;
	border: 2px solid #d80000;
}

#user-description-cancel {
	color: #fff;
	cursor: pointer;

	margin-top: 8px;
	padding: 8px 24px;

	background-color: var(--secondary-color);
	border: 2px solid var(--secondary-color);
}

#edit-description-button {
	color: #fff;
	cursor: pointer;

	margin-top: 8px;
	padding: 8px 24px;

	background-color: #d80000;
	border: 2px solid #d80000;
}

#user-info {
	display: flex;
	flex-direction: column;

	width: 256px;
}

#user-info > * {
	padding: 8px 0;
	border-bottom: 1px groove var(--secondary-text);
}


/* Post View */
#columns {
	display: flex;
	justify-content: space-between;

	border-top: 1px solid #fff;
}

#post-column {
	width: 60%;
}

#recommended-posts {
	margin-top: 8px;
	width: 40%;
}

#post-collection-container {
	display: flex;
	flex-direction: column;

	max-height: 512px;

	margin-bottom: 16px;
	padding: 8px 16px;

	background-color: var(--secondary-color);
	border-radius: 25px;
	border: 1px solid var(--secondary-color);
}

#post-collection-container article {
	background-color: var(--primary-color);
}

#post-collection-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 8px;
}

#post-collection-header a {
	color: var(--primary-text);
	text-decoration: none;
}

#post-collection-toggle {
	color: var(--primary-text);
	cursor: pointer;

	font-size: 18px;
	background-color: transparent;

	border: none;
}

#post-collection-body {
	overflow-y: auto;
}

#post-container {
	display: flex;
	flex-direction: column;

	/*
	padding: 5px 10px 0 10px;
	*/

	color: var(--primary-text);

	/*
	border-radius: 5px;
	border: 2px solid #f00;
	*/
}

#post-buttons {
	display: flex;
	align-items: center;
	gap: 4px;
}

#post-buttons > * {
	padding: 8px 16px;

	color: #fff;
	font-size: 18px;

	border-radius: 5px;
	border: none;
}

#post-update-button {
	background-color: #4da6a6;
}

#post-update-button:hover {
	background-color: #62b7b7;
}

#post-delete-button {
	background-color: #d80000;
}

#post-delete-button:hover {
	background-color: #f00;
}

#post-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#post-header a {
	display: inline-flex;

	color: var(--primary-text);
	text-decoration: none;
}

.follow-button {
	margin-left: 16px;
	padding: 8px 24px;

	color: #fff;

	background-color: #d80000;
	border: none;
}

.following-button {
	margin-left: 16px;
	padding: 8px 24px;

	color: #fff;

	background-color: #444;
	border: none;
}

.post-title > span {
	color: var(--primary-text);
	font-size: 24px;
	text-decoration: none;

	margin-top: 5px;
	margin-bottom: 5px;
}

#post-info-container {
	display: flex;
	justify-content: space-between;

	padding: 5px 0;
}

#post-views {
	color: #717171;
}

#post-actions-container {
	display: flex;
	align-items: center;

	margin-right: 8px;
}

#post-actions-container > button {
	display: flex;
	align-items: center;
	gap: 6px;

	padding: 8px;

	color: var(--primary-text);
	font-size: 18px;

	border-radius: 25px;
	background-color: transparent;
	border: none;
}

#post-actions-container > button:hover {
	background-color: var(--tertiary-color);
}


/* Save Post*/
#post-save-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	flex-direction: column;
	gap: 14px;

	max-height: 256px;
	width: 160px;

	padding: 12px 16px;

	border-radius: 10%;
	background-color: var(--secondary-color);
}

#post-save-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#post-save-close {
	padding: 4px 8px;

	color: var(--primary-icon);
	font-size: 18px;

	border-radius: 25px;
	background-color: transparent;
	border: none;
}

#post-save-close:hover {
	background-color: var(--tertiary-color);
}

#post-save-create-new {
	display: flex;
	align-items: center;

	padding: 4px;

	color: var(--primary-text);
	font-size: 12px;

	border-radius: 25px;
	background-color: transparent;
	border: none;
}

#post-save-create-new:hover {
	background-color: var(--tertiary-color);
}

#post-save-collections {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.post-save-collection {
	display: flex;
	align-items: center;
	gap: 8px;

	font-size: 18px;
}

.post-save-collection > input {
	height: 20px;
	width: 20px;

	cursor: pointer;
}

.post-save-collection > button {
	color: var(--primary-text);
	font-size: 16px;

	background-color: transparent;
	border: none;
}

#create-collection-container > label {
	color: var(--primary-text);
}

#create-collection-buttons {
	display: flex;
	justify-content: flex-end;

	margin-top: 8px;
}

#create-collection-buttons > button {
	padding: 4px 8px;

	color: var(--primary-text);

	border-radius: 20px;
	background-color: transparent;
	border: none;
}

#create-collection-buttons > button:hover {
	background-color: var(--tertiary-color);
}


/* Save Post Individual */
#individual-post-save-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	flex-direction: column;
	gap: 14px;

	max-height: 256px;
	width: 160px;

	padding: 12px 16px;

	border-radius: 10%;
	background-color: var(--secondary-color);
}

#individual-post-save-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#individual-post-save-close {
	padding: 4px 8px;

	color: var(--primary-icon);
	font-size: 18px;

	border-radius: 25px;
	background-color: transparent;
	border: none;
}

#individual-post-save-close:hover {
	background-color: var(--tertiary-color);
}

#individual-post-save-create-new {
	display: flex;
	align-items: center;

	padding: 4px;

	color: var(--primary-text);
	font-size: 12px;

	border-radius: 25px;
	background-color: transparent;
	border: none;
}

#individual-post-save-create-new:hover {
	background-color: var(--tertiary-color);
}

#individual-post-save-collections {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.post-save-collection {
	display: flex;
	align-items: center;
	gap: 8px;

	font-size: 18px;
}

.post-save-collection > input {
	height: 20px;
	width: 20px;

	cursor: pointer;
}

.post-save-collection > button {
	color: var(--primary-text);
	font-size: 16px;

	background-color: transparent;
	border: none;
}

#individual-create-collection-container > label {
	color: var(--primary-text);
}

#individual-create-collection-buttons {
	display: flex;
	justify-content: flex-end;

	margin-top: 8px;
}

#individual-create-collection-buttons > button {
	padding: 4px 8px;

	color: var(--primary-text);

	border-radius: 20px;
	background-color: transparent;
	border: none;
}

#individual-create-collection-buttons > button:hover {
	background-color: var(--tertiary-color);
}


/* Post Delete Modal */
#post-delete-modal {
	position: absolute;

	flex-direction: column;
	align-self: center;
	gap: 24px;

	padding: 16px 32px;

	border-radius: 5px;
	background-color: var(--secondary-color);
}

#post-delete-modal-button-container {
	display: flex;
	justify-content: flex-end;
	gap: 8px;
}

#post-delete-modal-button-container > button {
	color: #fff;
	font-size: 18px;

	padding: 12px 20px;

	border-radius: 5px;
	border: none;
}

#post-delete-modal-close-button {
	background-color: #4da6a6;
}

#post-delete-modal-close-button:hover {
	background-color: #62b7b7;
}

#post-delete-modal-submit-button {
	background-color: #d80000;
}

#post-delete-modal-submit-button:hover {
	background-color: #f00;
}


/* Comments */
#comment-section-container {
	display: flex;
	flex-direction: column;
}

#comment-section-header {
	display: flex;
	align-items: center;
	gap: 12px;
}

#sort-comments-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#sort-comments-button {
	display: flex;
	align-items: center;

	padding: 8px;

	color: var(--primary-text);
	font-size: 16px;

	border-radius: 25px;
	background-color: transparent;
	border: none;
}

#sort-comments-button:hover {
	background-color: var(--tertiary-color);
}

#sort-comments-options {
	position: absolute;
	width: 128px;

	flex-direction: column;
	align-self: center;

	margin-top: 120px;
	padding: 8px 4px;

	border-radius: 10px;
	background-color: var(--secondary-color);
	border: none;
}

#sort-comments-options > button {
	padding: 8px;

	color: var(--primary-text);

	border-radius: 10px;
	background-color: transparent;
	border: none;
}

#sort-comments-options > button:hover {
	background-color: var(--tertiary-color);
}

#comment-section {
	display: flex;
	flex-direction: column;

	margin-top: 5px;
}

#comment-create {
	display: flex;
	align-items: flex-start;

	margin-top: 16px;
	margin-bottom: 24px;
}

.comment-account-img {
	vertical-align: top;

	margin-right: 16px;
	border-radius: 100%;
}

.comment-input {
	height: 24px;
	width: 512px;

	padding: 0px;

	resize: none;
	overflow: hidden;

	color: var(--primary-text);
	font-size: 18px;

	outline: none;

	background-color: transparent;	
	border-width: 0 0 1px;
}

#comment-create-options {
	display: flex;
	justify-content: flex-end;
	gap: 8px;
}

#comment-create-options > button {
	padding: 8px 12px;

	color: var(--primary-text);
	font-size: 18px;

	border-radius: 25px;
	background-color: transparent;
	border: none;
}

#comment-create-options > button:hover {
	background-color: var(--tertiary-color);
}

.comment {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	margin-bottom: 16px;
}

.comment-body {
	display: flex;
	flex-direction: column;
}

.comment-author {
	color: var(--primary-text);
	text-decoration: none;

	margin-right: 5px;
}

.comment-date-posted {
	font-size: 14px;
	color: #717171;
}

.comment-body-content {
	max-width: 512px;

	word-break: break-all;

	margin-top: 2px;
	white-space: pre-line;
}

.comment-actions-container {
	display: flex;
	align-items: center;
	gap: 4px;

	margin-top: 4px;
}

.comment-actions-container > button {
	display: flex;
	align-items: center;
	gap: 4px;

	padding: 6px;

	color: var(--primary-text);
	font-size: 14px;

	border-radius: 25px;
	background-color: transparent;
	border: none;
}

.comment-actions-container > button:hover {
	background-color: var(--tertiary-color);
}

.comment-reply {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	margin-bottom: 16px;
}

.comment-create {
	margin-top: 8px;
}

.comment-reply-buttons {
	display: flex;
	justify-content: flex-end;

	gap: 8px;
}

.comment-reply-buttons > button {
	padding: 8px 12px;

	color: var(--primary-text);
	font-size: 18px;

	border-radius: 25px;
	background-color: transparent;
	border: none;
}

.comment-reply-buttons > button:hover {
	background-color: var(--tertiary-color);
}

.comment-view-reply-button {
	display: flex;
	align-items: center;

	margin: 5px 0;

	color: #3ea6ff;
	font-weight: 700;

	background-color: transparent;
	border: none;
}

.comment-view-reply-button > svg {
	color: #3ea6ff;
}


/* Collections */
#collection-container {
	display: flex;
	justify-content: space-between;

}

.collection-info-card {
	width: 320px;
}

.collection-image-container {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.collection-image {
	object-fit: cover;
	object-position: 0 100%;
}

#collection-change-image {
	position: absolute;
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	color: transparent;

	background-color: #24242400;
	border: none;
}

#collection-change-image:hover {
	color: var(--primary-text);
	background-color: #242424b3;
}

#collection-change-image > * {
	color: inherit;
}

.collection-info {
	display: flex;
	flex-direction: column;

	padding-bottom: 8px;

	border-bottom: 1px groove var(--secondary-text);
}

.collection-info a {
	color: var(--primary-text);
	text-decoration: none;
}

.collection-info-title {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 8px;
}

#collection-rename-button {
	color: var(--primary-icon);

	background-color: transparent;
	border: none;
}

#collection-rename-form {
	flex-direction: column;
}

#collection-rename-input {
	color: var(--primary-text);
	font-size: 22px;

	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--primary-text);
}

#collection-rename-input:focus {
	outline: none;
	border-bottom: 2px solid var(--primary-text);
}

#collection-rename-buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 4px;

	margin-top: 8px;
}

#collection-rename-buttons > * {
	color: var(--primary-text);
	font-size: 18px;

	padding: 8px 16px;

	background-color: transparent;
	border-radius: 50px;
	border: 1px solid transparent;
}

#collection-rename-buttons > *:hover {
	background-color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
}

.collection-creator-container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 8px;
}

.collection-creator {
	display: flex;
	align-items: center;
	text-decoration: none;

	gap: 8px;
}

.collection-creator img {
	border-radius: 50%;
}

.collection-creator a {
	display: flex;
	align-items: center;

	color: var(--primary-text);
	text-decoration: none;
	font-size: 20px;
}

#collection-options-container {
	display: flex;
	justify-content: flex-end;
}

#collection-options-button {
	color: var(--primary-icon);

	background-color: transparent;
	border: none;
}

#collection-options-menu {
	position: absolute;

	flex-direction: column;
	align-items: center;

	margin-top: 40px;
	padding: 4px;

	border-radius: 10px;
	background-color: var(--secondary-color);
	border: none;
}

.collection-option-button {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 32px;
	width: 100%;

	padding: 4px;

	color: var(--primary-text);
	font-size: 16px;

	border-radius: 10px;
	background-color: transparent;
	border: none;
}

.collection-option-button:hover {
	background-color: var(--tertiary-color);
}

#collection-change-image-modal {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 576px;
	height: 448px;

	background-color: var(--secondary-color);
}

#collection-change-image-preview {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: 16px;

	padding: 0 16px;

	border-right: 1px solid var(--tertiary-color);
}

#collection-change-image-preview-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

#collection-change-image-preview-buttons {
	display: flex;
	gap: 4px;
}

#collection-change-image-preview-buttons > * {
	color: var(--primary-text);
	font-size: 18px;

	padding: 8px 16px;

	background-color: transparent;
	border-radius: 50px;
	border: 1px solid transparent;
}

#collection-change-image-preview-buttons > *:hover {
	background-color: var(--tertiary-color);
	border: 1px solid var(--secondary-color);
}

#collection-change-image-form {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 65%;
}

#collection-change-image-form-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;

	height: 192px;
	width: 192px;

	color: var(--primary-text);
	font-size: 18px;

	padding: 8px 16px;

	background-color: var(--primary-color);
	border-radius: 50%;
	border: 1px solid transparent;
}

#collection-change-image-form-button:hover {
	background-color: var(--tertiary-color);
}

#collection-change-image-form-button > svg {
	margin-bottom: 4px;
}

#collection-change-image-form-input {
	display: none;
}

#collection-posts-container {
	display: flex;
	flex-direction: column;

	width: 800px;

	padding: 0 0 0 32px;
}

/* Post Caches */
#post-cache-toolbar {
	margin-bottom: 16px;
}

#post-cache-toolbar a {
	padding: 8px 24px;

	color: var(--primary-text);
	text-decoration: none;

	background-color: #d80000;
	border: 2px solid #d80000;
}

#post-cache-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);

	grid-row-gap: 20px;
	grid-column-gap: 20px;
}

.post-cache {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 256px;
	width: 192px;

	padding: 8px;

	cursor: pointer;

	border-radius: 5px;
	background-color: var(--secondary-color);
}

.post-cache-header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	min-height: 32px;
}

.post-cache-title {
	font-size: 22px;
}

.post-cache-dropdown-container {
	display: flex;
	justify-content: flex-end;
}

.post-cache-dropdown-opener {
	justify-content: center;

	padding: 4px;

	border-radius: 25px;
	background-color: transparent;
	border: none;
}

.post-cache-dropdown {
	position: absolute;
	flex-direction: column;

	margin-top: 32px;
	padding: 4px;

	border-radius: 10px;
	background-color: var(--primary-color);
}

.post-cache-delete {
	display: flex;
	align-items: center;
	gap: 2px;

	padding: 8px;

	color: var(--primary-text);

	border-radius: 10px;
	background-color: transparent;
	border: none;
}

.post-cache-delete:hover {
	background-color: var(--tertiary-color);
}

.post-cache-content {
	height: 100%;
}

.post-cache-date {
	text-align: right;
}


/* Create Post */
#create-post-nav {
	position: fixed;
	top: 56px;
	left: 72px;

	width: calc(100% - 72px);
	height: 56px;

	display: flex;
	align-items: center;
	justify-content: flex-end;

	background-color: var(--secondary-color);
	border-top: 1px solid var(--primary-text);
}

#create-post-nav > * {
	margin-right: 8px;
	padding: 10px 10px;

	color: var(--primary-text);
	font-size: 16px;
	text-decoration: none;

	border-radius: 5px;
	background-color: transparent;
	border: 2px solid #d80000;
}

#create-post-nav > *:hover {
	background-color: var(--tertiary-color);
}

#create-post-insert-menu {
	position: fixed;
	top: 20%;
	right: 0;

	flex-direction: column;
	align-items: center;

	max-height: 400px;
	max-width: 250px;

	overflow-y: scroll;
	overflow-x: hidden;

	color: var(--primary-text);

	padding: 10px 10px;

	border-radius: 5px;
	background-color: var(--secondary-color);
	border: 2px solid #d80000;
}

#import-file {
	display: none;
}

#import-file-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2px;

	height: 40px;
	width: 128px;

	margin-bottom: 10px;

	color: var(--primary-text);

	border-radius: 25px;
	background-color: var(--color-sceme);
	border: none;
}

#import-file-button > svg {
	margin-bottom: 4px;
}

.uploaded-media-options-container {
	display: flex;
	justify-content: flex-end;
}

.uploaded-media-options-opener {
	position: absolute;
	right: 16px;

	margin-top: 8px;

	background-color: transparent;
	border: none;
}

.uploaded-media-options {
	position: absolute;
	right: 16px;

	flex-direction: column;

	margin-top: 44px;
	padding: 4px;

	border-radius: 10px;
	background-color: var(--secondary-color);
}

.uploaded-media-remove {
	display: flex;
	align-items: center;

	min-width: 128px;

	padding: 8px;

	color: var(--primary-text);
	font-size: 16px;

	border-radius: 10px;
	background-color: transparent;
	border: none;
}

.uploaded-media-remove:hover {
	background-color: var(--tertiary-color);
}

.uploaded-media {
	width: 100%;

	cursor: pointer;
}

.uploaded-media:hover {
	outline: 3px solid var(--primary-text);
}

#new-post-title-label {
	font-size: 24px;
}

#new-post-content-label {
	font-size: 24px
}

#new-post-title {
	display: flex;
	flex-direction: column;

	margin-top: 5px;
}

#new-post-title-input {
	width: 50%;

	color: var(--primary-text);
	font-size: 24px;

	margin-top: 5px;

	border-radius: 5px;
	background-color: transparent;
	border: 2px solid var(--primary-text);
}

#new-post-content {
	display: flex;
	flex-direction: column;

	margin-top: 5px;
}

.inserted-media-container {
	display: flex;
	flex-direction: column;
}

.inserted-media {
	align-self: center;

	margin: 24px 0;
}

.inserted-media-options-container {
	display: flex;
	justify-content: flex-end;
}

.inserted-media-options-opener {
	position: absolute;
	right: 48px;

	margin-top: 8px;

	background-color: transparent;
	border: none;
}

.inserted-media-options {
	position: absolute;
	right: 48px;

	flex-direction: column;

	margin-top: 44px;
	padding: 8px;

	border-radius: 10px;
	background-color: var(--secondary-color);
}

.inserted-media-size-container > div {
	display: flex;
	align-items: center;
	gap: 8px;
}

.inserted-media-remove {
	display: flex;
	align-items: center;
	gap: 4px;

	min-width: 128px;

	padding: 8px;

	color: var(--primary-text);
	font-size: 16px;

	border-radius: 10px;
	background-color: transparent;
	border: none;
}

.inserted-media-remove:hover {
	background-color: var(--tertiary-color);
}

#add-textarea {
	align-self: center;

	width: 50%;

	padding: 20px;
}

.create-post-textarea {
	height: 256px;
	width: 100%;

	margin-top: 5px;

	color: var(--primary-text);
	font-size: 16px;

	border-radius: 5px;
	background-color: transparent;
	border: 2px solid var(--primary-text);
}

.textarea-options-container {
	display: flex;
	justify-content: flex-end;
}

.textarea-options-opener {
	position: absolute;
	right: 52px;

	margin-top: 16px;

	background-color: transparent;
	border: none;
}

.textarea-options {
	position: absolute;
	right: 48px;

	flex-direction: column;

	margin-top: 44px;
	padding: 4px;

	border-radius: 10px;
	background-color: var(--secondary-color);
}

.textarea-remove {
	display: flex;
	align-items: center;
	gap: 4px;

	min-width: 128px;

	padding: 8px;

	color: var(--primary-text);
	font-size: 16px;

	border-radius: 10px;
	background-color: transparent;
	border: none;
}

.textarea-remove:hover {
	background-color: var(--tertiary-color);
}

#add-textarea {
	margin-top: 16px;

	color: var(--primary-text);
	font-size: 24px;

	border-radius: 16px;
	background-color: var(--secondary-color);
	border: none;
}

#add-textarea:hover {
	background-color: var(--tertiary-color);
}

#new-post-submit-button {
	color: var(--primary-text);

	padding: 10px 10px;

	border-radius: 5px;
	background-color: transparent;
	border: 2px solid #d80000;
}

#new-post-submit-button:hover {
	background-color: var(--tertiary-color);
}


/* Update Post */
#update-post-cancel-button {
	color: var(--primary-text);
	background-color: transparent;

	margin: 5px 0px;
	padding: 10px 10px;

	border-radius: 5px;
	border: 2px solid #d80000;
}

#update-post-submit-button {
	color: var(--primary-text);
	background-color: transparent;

	margin: 5px 0px;
	padding: 10px 10px;

	border-radius: 5px;
	border: 2px solid #d80000;
}

/* Sign In */
#sign-in-container {
	display: flex;
	justify-content: center;
}

#sign-in-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	padding: 5px;
	color: var(--primary-text);

	height: 512px;
	width: 35%;

	border-radius: 10px;
	border: 1px solid var(--primary-text);
}

#sign-in-form-header {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 16px;
	margin-bottom: 20%;
}

#sign-in-form-body {
	display: flex;
	flex-direction: column;
}

.sign-in-form-body-div {
	margin-bottom: 7px;
}

#sign-in-form-body-2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.sign-in-form-error {
	color: #f00;
}

.sign-in-input {
	font-size: 18px;
	color: var(--primary-text);
	height: 40px;
	width: 364px;
	padding: 0 5px;
	background-color: var(--secondary-color);
	outline: none;

	border-radius: 5px;
	border: 1px solid var(--primary-text);
}

#sign-in-form-submit {
	cursor: pointer;
	color: var(--primary-text);

	padding: 10px 10px;

	border-radius: 5px;
	background-color: transparent;
	border: 2px solid #d80000;
}

/* Sign Up */
#sign-up-container {
	display: flex;
	justify-content: center;
}

#sign-up-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	padding: 5px;
	color: var(--primary-text);

	height: 512px;
	width: 35%;

	border-radius: 10px;
	border: 1px solid var(--primary-text);
}

#sign-up-form-header {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 16px;
	margin-bottom: 20%;
}

#sign-up-form-body {
	display: flex;
	flex-direction: column;
}

.sign-up-form-body-div {
	margin-bottom: 7px;
}

#sign-up-form-body-2 {
	display: flex;
	justify-content: center;
}

.sign-up-form-error {
	color: #f00;
}

.sign-up-input {
	font-size: 18px;
	color: var(--primary-text);
	height: 40px;
	width: 364px;
	padding: 0 5px;
	background-color: var(--secondary-color);	
	outline: none;

	border-radius: 5px;
	border: 1px solid var(--primary-text);
}

#sign-up-form-submit {
	cursor: pointer;
	color: var(--primary-text);

	padding: 10px 10px;
	margin-top: 5px;

	border-radius: 5px;
	background-color: transparent;
	border: 2px solid #d80000;
}

/* Settings */
#settings-nav {
	position: fixed;

	display: flex;
	flex-direction: column;

	height: calc(100vh - 56px);
	width: 240px;

	margin-top: 56px;

	background-color: var(--secondary-color);
}

#selected-settings-nav {
	background-color: var(--primary-color);
}

#settings-nav div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 72px;
	width: 100%;

	font-size: 14px;
}

#settings-main {
	margin-left: calc(224px + 16px);
	padding: 16px;
	padding-top: calc(56px + 16px);
}

#account-form {
	margin-top: 8px;
}

#account-form legend {
	color: var(--primary-text);
	font-size: 18px;
}

#account-form-info-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 32px;
}

#account-form-img-container {
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.account-img {
	object-fit: cover;
	object-position: 0 100%;
}

#account-change-image {
	position: absolute;
	height: 128px;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	color: transparent;

	border-radius: 100%;
	background-color: #24242400;
	border: none;
}

#account-change-image:hover {
	color: var(--primary-text);
	background-color: #242424b3;
}

#account-change-image > * {
	color: inherit;
}

#account-change-image-modal {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 512px;
	height: 448px;

	background-color: var(--secondary-color);
}

#account-change-image-preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;

	padding: 0 16px;

	border-right: 1px solid var(--tertiary-color);
}

#account-change-image-preview-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

#account-change-image-preview-buttons {
	display: flex;
	gap: 4px;
}

#account-change-image-preview-buttons > * {
	color: var(--primary-text);
	font-size: 18px;

	padding: 8px 16px;

	background-color: transparent;
	border-radius: 50px;
	border: 1px solid transparent;
}

#account-change-image-preview-buttons > *:hover {
	background-color: var(--tertiary-color);
	border: 1px solid var(--secondary-color);
}

#account-change-image-form {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
}

#account-change-image-form-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;

	height: 192px;
	width: 192px;

	color: var(--primary-text);
	font-size: 18px;

	padding: 8px 16px;

	background-color: var(--primary-color);
	border-radius: 50%;
	border: 1px solid transparent;
}

#account-change-image-form-button:hover {
	background-color: var(--tertiary-color);
}

#account-change-image-form-button > svg {
	margin-bottom: 4px;
}

#account-form-field-container {
	display: flex;
	flex-direction: column;
	gap: 8px;

	padding: 32px;
}

#account-form-field-user-info {
	display: flex;
	flex-direction: column;
}

.account-form-field {
	display: flex;
	flex-direction: column;
}

.account-form-field-input {
	font-size: 24px;
}

#account-form-save-changes {
	padding: 12px 8px;

	font-size: 14px;

	border-radius: 5px;
	background-color: #fff;
}


/* Reset Password */
#reset-password-form-field-container {
	display: flex;
	flex-direction: column;

	width: 50%;

	margin-bottom: 16px;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 13px; /* scrollbar width */
}

/* Track */
::-webkit-scrollbar-track {
	background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #9e9e9e;
	border-radius: 100px;
	border: 2px groove var(--primary-color); /* creates padding around scrollbar */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #6f6f6f;
}