/* lato-regular - latin */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
	--main-headers: #fff;
	--main-body: #181818;
	--main-text: #000;
}

/* General Classes */
.text-muted {
	color: #aaa;
}

/* Icons */
.left-nav i {
	font-size: 20px;
}

#side-menu i {
	font-size: 24px;
}

/* Error Messages */
.message {
	position: absolute;
	top: 64px;
	right: 36vw;

	color: #fff;
	padding: 24px 32px;

	border-radius: 6px;
}

.message-danger {
	background-color: #ff0000;

	border: 5px solid #ff0000;
}

.message-closer {
	position: absolute;
	top: -1px;
	right: 6px;

	cursor: pointer;
}

/* Notification Messages */
.notification {
	position: absolute;
}

body {
	margin: 0;
	padding: 0;
	background-color: #181818;
	font-family: 'Lato', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
	color: var(--main-headers);
	margin: 0px;
	padding: 0px;
}

a {
	color: #3ea6ff
}

nav a {
	font-weight: 400;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;

	transition: all 0.1s ease 0s;
}

nav a:hover {
	color: #ff0000;
}

/* Left nav */
.left-nav {
	position: fixed;
	z-index: 1;

	color: #edf0f1;
	background-color: #262626;


	top: 56px;
	height: 100%;
	width: 72px;

	display: flex;
	flex-direction: column;
}

.left-nav div {
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 72px;
	width: 100%;
	text-align: center;
	font-size: 12px;
}

/* Top nav */
.top-nav {
	position: fixed;
	z-index: 2;

	color: #edf0f1;
	background-color: #262626;


	height: 56px;
	width: 100%;

	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.top-nav a {
	padding: 0 10px;
}

/* Navbar Left Side */
.nav-left {
	display: flex;
	align-items: center;
	margin-left: 16px;
	width: 240px;
}

.nav-left > a {
	margin-left: 16px;
}

#menu-img {
	cursor: pointer;
	font-size: 32px;

	margin-left: 8px;
}

#side-menu {
	position: absolute;
	top: 56px;
	left: 0px;
	height: 100vh;
	z-index: 1;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	background-color: #282828;
	transition: all 0.3s ease 0s;
}

.side-menu-div {
	display: flex;
	flex-direction: column;
	width: 100%;

	border-bottom: 1px groove #aaa;
}

#side-menu a, #side-menu h4 {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 5px;

	padding: 8px 0;
}

#side-menu img {
	border-radius: 50%;
}

/* Navbar Middle */
#search-container {
	display: flex;
	align-items: center;
	margin-right: 100px;
	margin-bottom: 5px;
}

#search-button {
	font-size: 24px;
	color: #ffffff;

	cursor: pointer;

	margin-top: 5px;
	width: 64px;
	height: 40px;
	background-color: #545454; /* 929292 */
	border: none;
}

#search-input {
	margin-top: 5px;
	font-size: 18px;
	color: #ffffff;
	height: 40px;
	width: 512px;
	padding: 0 5px;
	background-color: #0b0b0b;	
	outline: none;
	border: none;
}

/* Navbar Right Side */
nav .nav-right {
	display: flex;
	align-items: center;
	margin-right: 8px;
}

.dropdown-container {
	display: flex;
	justify-content: flex-end;
}

.dropdown-menu {
	position: absolute;
	margin-top: 56px;
	width: 128px;
	height: 256px;
	z-index: 1;

	flex-direction: column;
	align-items: center;

	background-color: #282828;
	border: 1px groove #949494;
}

.dropdown-menu a {
	width: 100%;
	text-align: center;

	padding: 10px 0;
	transition: all 0.3s ease 0s;
}

/* User not Signed In */
#kebab-img {
	cursor: pointer;
}

#sign-in-button {
	display: flex;
	align-items: center;

	color: #ffffff;
	background-color: transparent;
	padding: 5px 10px;
	border: 1px solid #ffffff;
}

.dropdown-container-center {
	display: flex;
	justify-content: center;
}

#sign-in-icon {
	margin-right: 5px;
}

/* User Signed In */
#profile-img {
	border-radius: 50px;
	cursor: pointer;
	margin-left: 5px;
}

/* Body */
#main-body {
	display: flex;
	flex-direction: column;
	padding: 76px 50px 20px 100px;
}

#main-body-nm {
	display: flex;
	flex-direction: column;
	padding: 56px 0 0 72px;
}

/* Fake Post */
#fake-post {
	height: 178px;
}

#fake-post-user-img {
	height: 32px;
	width: 32px;

	margin-right: 5px;

	background-color: #262626;
	border-radius: 50px;
}

#fake-post-username {
	height: 16px;
	width: 128px;

	background-color: #262626;
}

#fake-post-title-container {
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	margin-top: 8px;

	border-bottom: 1px solid #ffffff;
}

#fake-post-title {
	width: 256px;
	height: 26px;

	background-color: #262626;
}

#fake-post-date {
	width: 92px;
	height: 100%;

	background-color: #262626;
}

.fake-post-text {
	width: 100%;
	height: 16px;

	margin-bottom: 8px;

	background-color: #262626;
}

/* Home Posts */
.post-container {
	display: flex;
	flex-direction: column;
	color: #ffffff;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;

	border-radius: 5px;
	border: 2px solid #ff0000;
}

.post-header {
	display: flex;
	align-items: center;
}

.post-user-img {
	border-radius: 50px;
}

.post-header-info {
	display: flex;
	flex-direction: column;

	padding-left: 8px;
}

.post-header-info a {
	color: #ffffff;
	text-decoration: none;
}

.post-header-info span {
	color: #aaa;
}

.post-title {
	display: flex;
	align-items: baseline;
	justify-content: space-between;

	border-bottom: 1px solid #ffffff;
}

.post-title a {
	color: #ffffff;
	font-size: 24px;
	text-decoration: none;

	margin-top: 5px;
	margin-bottom: 5px;
}

.post-content {
	color: #ffffff;
	white-space: pre-line;

	margin-top: 7px;
	margin-bottom: 10px;
}

/* Search */
#search-sort-container {
	margin-top: -10px;
	margin-bottom: 5px;

	border-bottom: 1px solid #ff0000;
}

#search-sort-header {
	color: #ffffff;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

#search-sort {
	display: flex;
	align-items: center;

	background-color: transparent;
}

#search-sort-filters {
	color: #ffffff;
}

#search-sort-img {
	margin-top: -5px;
	margin-right: 5px;
}

/* Explore */
#explore-categories-container {
	display: flex;
	flex-direction: column;
}

.explore-categories {
	display: flex;
	justify-content: space-between;

	height: 116px;
}

.explore-category {
	display: flex;
	flex-direction: column;

	color: #ffffff;
	text-decoration: none;

	padding: 10px 25px;
	width: 20%;

	background-color: #262626;
	border-radius: 5px;
}

.explore-category i, .explore-category img {
	margin-top: 18px;
}

.explore-category span {
	margin-top: 8px;
}

/* Explore Featured */
#explore-featured-header {
	color: #ffffff;
	margin: 10px 0;
}

/* Explore Trending */
#explore-trending-header {
	color: #ffffff;
	margin: 10px 0;
}

/* Explore Categories */
.explore-header {
	color: #ffffff;

	margin-bottom: 8px;
}

/* Following */
.following-section {
	margin-bottom: 18px;
}

.following-header {
	color: #ffffff;

	margin-bottom: 8px;
}

.following-body {
	display: flex;
	flex-direction: column;
}

.following-filler {
	color: #ffffff;

	margin-bottom: 16px;
}

.followed-user {
	display: flex;

	width: 35%;
	cursor: pointer;
}

.followed-user-img {
	border-radius: 80px;
}

.followed-user-info-container {
	color: #ffffff;

	margin-left: 32px;
}

.followed-user-followers-posts {
	color: #aaa;
}

.following-view-button {
	cursor: pointer;
	align-self: center;

	color: #ffffff;
	background-color: transparent;

	padding: 15px 24px;

	border-radius: 4px;
	border: 2px solid #ff0000;
}

/* Library */
.library-section {
	margin-bottom: 18px;
}

.library-header {
	color: #ffffff;

	margin-bottom: 8px;
}

.library-body {
	display: flex;
	flex-direction: column;
}

.library-filler {
	color: #ffffff;

	margin-bottom: 16px;
}

.library-view-button {
	cursor: pointer;
	align-self: center;

	color: #ffffff;
	background-color: transparent;

	padding: 15px 24px;

	border-radius: 4px;
	border: 2px solid #f00;
}

/* User Page */
#user-page-header {
	display: flex;
	flex-direction: column;
}

#user-page-header-background {
	height: 224px;
	width: 100%;
	object-fit: cover;
	object-position: 100% 0;
}

#user-page-header-info {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 32px 64px 0;
}

#user-page-header-info-info {
	display: flex;
	flex-direction: column;

	margin-left: 16px;

	color: #fff;
}

#user-page-nav-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;

	color: #aaa;
	border-bottom: 1px groove #aaa;
}

#user-page-nav {
	display: flex;
}

.user-page-nav-item {
	color: #fff;
	cursor: pointer;
	padding: 12px 32px;

	background-color: transparent;
}

.user-page-nav-item-selected {
	color: #fff;
	cursor: pointer;
	padding: 12px 32px;

	background-color: transparent;
	border-bottom: 3px solid #fff;
}

#user-page-body {
	display: flex;
	flex-direction: column;

	padding: 24px 48px 0;
}

/* User Posts */
#user-posts-header {
	display: flex;
	justify-content: space-between;

	margin-bottom: 8px;
}

/* User About */
#user-description {
	height: 256px;
	width: 75%;
}

#user-info {
	display: flex;
	flex-direction: column;

	width: 256px;
}

#user-info > * {
	padding: 8px 0;
	border-bottom: 1px groove #aaa;
}

/* Post View */
#post-container {
	display: flex;
	flex-direction: column;
	color: #fff;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;

	border-radius: 5px;
	border: 2px solid #f00;
}

#post-update-button {
	color: #ffffff;
	font-size: 16px;
	background-color: #4da6a6;
	cursor: pointer;

	padding: 4px 9px;

	border-radius: 5px;
	border: 4px solid #4da6a6;
}

#post-delete-button {
	color: #ffffff;
	font-size: 16px;
	background-color: #ff0000;
	cursor: pointer;

	padding: 4px 9px;

	border-radius: 5px;
	border: 4px solid #ff0000;
}

#post-header {
	display: flex;
	flex-direction: row;
	align-items: top;
	justify-content: space-between;
}

#post-header a {
	color: #fff;
	text-decoration: none;
}

#post-username-followers-container {
	display: flex;
	flex-direction: column;
}

#post-followers-container {
	display: flex;
}

.follow-button {
	color: #fff;
	cursor: pointer;

	padding: 8px 24px;

	background-color: #d80000;
	border: 2px solid #d80000;
}

.following-button {
	color: #fff;
	cursor: pointer;
}

.post-title > span {
	color: #ffffff;
	font-size: 24px;
	text-decoration: none;

	margin-top: 5px;
	margin-bottom: 5px;
}

.post-content {
	color: #ffffff;
	white-space: pre-line;

	margin-top: 7px;
	margin-bottom: 10px;
}

#post-actions-container {
	display: flex;

	padding: 5px 0;

	border-top: 1px solid #ffffff;
}

#post-views {
	color: #717171;
}

#post-actions-container > button {
	cursor: pointer;

	color: #ffffff;
	font-size: 18px;

	margin-left: 5px;

	background-color: transparent;
	border: none;
}

/* Save Post*/
#post-save-container {
	position: absolute;
	top: calc(50vh - 76px);
	left: calc(50vw - 96px);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 14px;

	padding: 12px 16px;

	max-height: 256px;
	width: 160px;

	background-color: #262626;
	border-radius: 10%;
}

#post-save-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#post-save-close {
	color: #fff;
	cursor: pointer;

	font-size: 18px;
	background-color: transparent;

	border: none;
}

#post-save-create-new {
	color: #fff;
	cursor: pointer;

	background-color: transparent;
	border: none;
}

#post-save-option-container-container {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.post-save-option-container {
	display: flex;
	align-items: center;

	font-size: 18px;
}

.post-save-option-container input {
	cursor: pointer;
	background-color: transparent;

	height: 20px;
	width: 20px;

	border-radius: 15%;
	border: 3px solid #fff;
}

.post-save-option-container button {
	color: #fff;
	cursor: pointer;

	background-color: transparent;
	border: none;
}

/* Post Delete Modal */
#post-delete-modal {
	position: absolute;
	background-color: #ffffff;

	align-self: center;

	padding: 32px 32px;

	border-radius: 5px;
}

#post-delete-modal-body {
	margin-top: 32px;
}

#post-delete-modal-close {
	color: #ffffff;
	font-size: 16px;
	background-color: #4da6a6;
	cursor: pointer;

	padding: 9px 14px;

	border-radius: 5px;
	border: 4px solid #4da6a6;
}

#post-delete-modal-submit {
	color: #ffffff;
	font-size: 16px;
	background-color: #ff0000;
	cursor: pointer;

	padding: 9px 14px;

	border-radius: 5px;
	border: 4px solid #ff0000;
}

/* Comments */
#comment-section-container {
	display: flex;
	flex-direction: column;
}

#comment-section-header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#sort-button {
	cursor: pointer;

	color: #ffffff;
	font-size: 16px;
	background-color: transparent;

	margin-left: 15px;

	border: none;
}

#comment-section {
	display: flex;
	flex-direction: column;

	margin-top: 5px;
}

#comment-create {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	margin-top: 16px;
	margin-bottom: 24px;
}

.comment-account-img {
	vertical-align: top;

	margin-right: 16px;
	border-radius: 75px;
}

.comment-input {
	height: 24px;
	width: 512px;

	padding: 0px;

	resize: none;
	overflow: hidden;

	font-size: 18px;
	color: #ffffff;

	background-color: transparent;	
	outline: none;

	border-width: 0 0 1px;
}

.comment {
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	margin-bottom: 16px;
}

.comment-body {
	display: flex;
	flex-direction: column;
}

.comment-author {
	color: #ffffff;
	text-decoration: none;
}

.comment-date-posted {
	font-size: 14px;
	color: #717171;
}

.comment-body-content {
	max-width: 512px;

	word-break: break-all;

	margin-top: 2px;
	white-space: pre-line;
}

.comment-actions-container {
	display: flex;

	margin-top: 8px;
}

.comment-actions-container > button {
	cursor: pointer;

	color: #ffffff;
	font-size: 14px;

	margin-right: 3px;

	background-color: transparent;
	border: none;
}

.comment-view-reply {
	display: flex;
	background-color: transparent;

	cursor: pointer;

	font-weight: 700;
	color: #3ea6ff;

	padding: 0px;
	margin-top: 5px;

	border: none;
}

.comment-view-reply-image {
	margin-right: 4px;
}

/* Collections */
#collection-info-card {
	position: absolute;
	width: 320px;
}

#collection-info {
	display: flex;
	flex-direction: column;

	padding-bottom: 8px;

	border-bottom: 1px groove #aaa;
}

#collection-creator {
	display: flex;
	align-items: center;
	text-decoration: none;

	margin-top: 16px;

	gap: 8px;
}

#collection-creator img {
	border-radius: 50%;
}

#collection-creator a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

#collection-posts-container {
	display: flex;
	flex-direction: column;

	padding: 0 32px;

	margin-left: 320px;
}

/* Post Caches */
#post-cache-toolbar {
	margin-bottom: 8px;
}

#post-cache-toolbar button {
	cursor: pointer;

	width: 9%;
	padding: 12px 0;

	color: #ffffff;
	background-color: transparent;

	border-radius: 5px;
	border: 5px solid #ff0000;
}

#post-cache-toolbar a {
	color: #ffffff;
	text-decoration: none;
}

#post-cache-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	
	grid-row-gap: 20px;
	grid-column-gap: 20px;
}

.post-cache-a {
	 width: 192px;
	 text-decoration: none
}

.post-cache {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	color: #ffffff;

	height: 256px;
	width: 192px;

	padding: 5px 5px;

	background-color: #262626;

	border-radius: 5px;
	border: 5px solid #ff0000;
}

.post-cache-header {

}

.post-cache-title {
	font-size: 24px;
	text-decoration: none;
}

.post-cache-dropdown-container-opener {
	position: absolute;

	margin-left: 164px;
	margin-top: -32px;
}

.post-cache-delete {
	position: absolute;
	margin-left: 64px;
}

.post-cache-content {
	height: 100%;
}

.post-cache-date {
	text-align: right;
}

/* Create Post */
#create-post-header{
	display: flex;
	justify-content: space-between;
}

#create-post-insert-container {
	display: flex;
	justify-content: flex-end;
}

#create-post-insert-button {
	color: #ffffff;
	background-color: transparent;

	margin: 5px 0px;
	padding: 10px 10px;

	border-radius: 5px;
	border: 2px solid #d80000;
}

#create-post-insert-menu {
	flex-direction: column;

	position: absolute;

	max-height: 400px;
	max-width: 250px;

	overflow-y: scroll;
	overflow-x: hidden;

	color: #ffffff;
	background-color: #000000;

	margin: 5px 0;
	margin-top: 56px;
	padding: 10px 10px;

	border-radius: 5px;
	border: 2px solid #d80000;
}

.uploaded-media-options {
	display: flex;
	justify-content: flex-end;
}

.uploaded-media-options-opener {
	position: absolute;
	right: 8px
}

.uploaded-media {
	width: 100%;
}

.uploaded-media-remove {
	position: absolute;
	right: 8px;

	margin-top: 32px;
	margin-right: 12px;

	background-color: #ff0000;
	border: 1px groove #949494;
}

/*
::file-selector-button {
	color: #ffffff;
	background-color: transparent;

	margin: 5px 0px;
	padding: 10px 10px;

	border-radius: 5px;
	border: 2px solid #d80000;
}
*/

#new-post-title-label {
	font-size: 24px;
}

#new-post-content-label {
	font-size: 24px
}

#new-post-title {
	display: flex;
	flex-direction: column;

	margin-top: 5px;

	border: none;
}

#new-post-title-input {
	color: #ffffff;
	font-size: 24px;
	width: 50%;

	margin-top: 5px;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 5px;
}

#new-post-content {
	display: flex;
	flex-direction: column;

	margin-top: 5px;

	border: none;
}

.inserted-media-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.inserted-media-dropdown-container {
	display: flex;
	justify-content: flex-end;
}

.inserted-media-dropdown-opener {
	position: absolute;
	right: 56px;
}

.inserted-media-dropdown {
	flex-direction: column;
	align-items: flex-end;

	position: absolute;
	right: 56px;

	margin-top: 32px;
}

.inserted-media {
	align-self: center;
}

#add-textarea {
	align-self: center;

	width: 50%;

	padding: 20px;
}

.textarea-dropdown-opener {
	position: absolute;
	right: 68px;

	margin-top: 12px;
}

.textarea-dropdown {
	position: absolute;
	right: 68px;

	margin-top: 48px;
	margin-right: 6px;
}

.create-post-textarea {
	color: #ffffff;
	font-size: 16px;
	height: 20rem;

	margin-top: 5px;
	width: 99%;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 5px;
}

#new-post-submit-button {
	color: #ffffff;
	background-color: transparent;

	margin: 5px 0px;
	padding: 10px 10px;

	border-radius: 5px;
	border: 2px solid #d80000;
}

/* Update Post */
#update-post-cancel-button {
	color: #ffffff;
	background-color: transparent;

	margin: 5px 0px;
	padding: 10px 10px;

	border-radius: 5px;
	border: 2px solid #d80000;
}

#update-post-submit-button {
	color: #ffffff;
	background-color: transparent;

	margin: 5px 0px;
	padding: 10px 10px;

	border-radius: 5px;
	border: 2px solid #d80000;
}

/* Sign In */
#sign-in-container {
	display: flex;
	justify-content: center;
}

#sign-in-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	padding: 5px;
	color: #ffffff;

	height: 512px;
	width: 35%;

	border-radius: 10px;
	border: 1px solid #ffffff;
}

#sign-in-form-header {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 16px;
	margin-bottom: 20%;
}

#sign-in-form-body {
	display: flex;
	flex-direction: column;
}

.sign-in-form-body-div {
	margin-bottom: 7px;
}

#sign-in-form-body-2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.sign-in-form-error {
	color: #ff0000;
}

.sign-in-input {
	font-size: 18px;
	color: #ffffff;
	height: 40px;
	width: 364px;
	padding: 0 5px;
	background-color: #000000;
	outline: none;

	border-radius: 5px;
	border: 1px solid #ffffff;
}

.sign-in-form-submit {
	color: #ffffff;
	background-color: transparent;
	padding: 10px 10px;

	border-radius: 5px;
	border: 2px solid #d80000;
}

/* Sign Up */
#sign-up-container {
	display: flex;
	justify-content: center;
}

#sign-up-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	padding: 5px;
	color: #ffffff;

	height: 512px;
	width: 35%;

	border-radius: 10px;
	border: 1px solid #ffffff;
}

#sign-up-form-header {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 16px;
	margin-bottom: 20%;
}

#sign-up-form-body {
	display: flex;
	flex-direction: column;
}

.sign-up-form-body-div {
	margin-bottom: 7px;
}

#sign-up-form-body-2 {
	display: flex;
	justify-content: center;
}

.sign-up-form-error {
	color: #ff0000;
}

.sign-up-input {
	font-size: 18px;
	color: #ffffff;
	height: 40px;
	width: 364px;
	padding: 0 5px;
	background-color: #000000;	
	outline: none;

	border-radius: 5px;
	border: 1px solid #ffffff;
}

.sign-up-form-submit {
	color: #ffffff;
	background-color: transparent;

	padding: 10px 10px;
	margin-top: 5px;

	border-radius: 5px;
	border: 2px solid #d80000;
}

/* Settings */
#settings-nav {
	display: flex;
	flex-direction: column;
	z-index: 1;

	height: 100vh;
	width: 224px;

	background-color: #000000;
}

#settings-nav > div {
	color: #ffffff;
	margin-top: 56px;
}

#selected-settings-nav {
	background-color: #262626;
}

#settings-nav div {
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 72px;
	width: 100%;
	text-align: center;
	font-size: 14px;
}

#settings-main {
	color: #ffffff;

	margin: 4px 16px;

	padding-top: 56px;
}

#account-form {
	color: #ffffff;

	margin-top: 8px;
}

#account-form legend {
	font-size: 18px;
}

#account-form-img-container {
	display: flex;
	flex-direction: column;
}

#account-img {
	border-radius: 75px;
	margin: 8px 0;
}

#account-form-field-container {
	display: flex;
	justify-content: space-between;

	margin-top: 8px;
}

.account-form-field {
	display: flex;
	flex-direction: column;
}

.account-form-field-input {
	font-size: 24px;
}

#account-form-save-changes {
	font-size: 14px;
	background-color: #ffffff;
	cursor: pointer;

	margin-top: 16px;
	padding: 6px 2px;

	border-radius: 5px;
	border: 4px solid #ffffff;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 13px; /* scrollbar width */
}
/* Track */
::-webkit-scrollbar-track {
	background-color: #0b0b0b
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #9e9e9e;
	border-radius: 100px;
	border: 2px groove #0b0b0b; ;  /* creates padding around scrollbar */
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #6f6f6f;
}