{% extends 'base.html' %}
{% block body %}
	<div style="display: flex;">
		<nav id="settings-nav">
			<div>
				<h1>Settings</h1>
			</div>

			<a href="{{ url_for('settings.account') }}">
				<div id="selected-settings-nav">
					<i class="fa fa-user" aria-hidden="true"></i>
					Account
				</div>
			</a>

			<a href="{{ url_for('settings.reset_password') }}">
				<div>
					<i class="fa fa-unlock-alt" aria-hidden="true"></i>
					Reset Password
				</div>
			</a>

			<a href="{{ url_for('settings.main_settings') }}">
				<div>
					<i class="fa fa-cog" aria-hidden="true"></i>
					Settings
				</div>
			</a>
		</nav>

		<div id="settings-main">
			<h1>Account Overview</h1>

			<form id="account-form" method="POST" action="" enctype="multipart/form-data">
				{{ form.hidden_tag() }}

				<div id="account-form-img-container">
					<!-- Outputs Errors-->
					{% if form.picture.errors %}
						{% for error in form.picture.errors %}
							<span>{{ error }}</span><br>
						{% endfor %}
					{% endif %}

					<legend>Profile Picture</legend>
					<img id="account-img" height="128" width="128" draggable="false" src="{{ image_file }}">
					{{ form.picture(class="") }}
				</div>

				<div id="account-form-field-container">
					<div id="account-form-field-user-email">
						<div class="account-form-field">
							{% if form.username.errors %}
								<div class="invalid-feedback">
									{% for error in form.username.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% endif %}

							<legend>Username</legend>
							{{ form.username(class="account-form-field-input") }}
						</div>

						<div class="account-form-field">
							{% if form.email.errors %}
								<div class="invalid-feedback">
									{% for error in form.email.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% endif %}

							<legend>Email</legend>
							{{ form.email(class="account-form-field-input") }}
						</div>
					</div>

					<div class="account-form-field">
						{% if form.question.errors %}
							<div class="invalid-feedback">
								{% for error in form.question.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% endif %}

						<legend>Security Question</legend>
						{{ form.question(class="account-form-field-input") }}
					</div>

					<div class="account-form-field">
						{% if form.answer.errors %}
							<div class="invalid-feedback">
								{% for error in form.answer.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% endif %}

						<legend>Security Question Answer</legend>
						{{ form.answer(class="account-form-field-input") }}
					</div>
				</div>

				{{ form.save_changes(id="account-form-save-changes") }}
			</form>
		</div>
	</div>
{% endblock %}