{% extends "base.html" %}
{% block body %}
	<div id="main-body">
		<div class="following-section">
			<div class="following-header">
				<h2>Following</h2>
			</div>
			<div class="following-body">
				{% if followed_users %}
					{% for user in followed_users %}
						<a href="{{ url_for('users.user_page', username=user.username) }}" style="text-decoration: none;">
							<div class="followed-user">
								<img class="followed-user-img" height="128" width="128" draggable="false" src="{{ url_for('static', filename='images/profile_pics/' + user.image_file) }}">
								<div class="followed-user-info-container">
									<h3>{{ user.username }}</h3>
									<div class="followed-user-followers-posts">
										{{ user.followers|length }} Followers • {{ followed_users_posts_count[user.id] }} Posts
									</div>
									{% if user.description %}
										<p class="followed-user-description">{{ user.description }}</p>
									{% endif %}
								</div>
							</div>
						</a>
					{% endfor %}

					{% if current_user.following|length > 3 %}
						<button class="following-view-button">
							Show {{ current_user.following|length }} More Users
						</button>
					{% endif %}
				{% else %}
					<p class="following-filler">Not Following Anybody Yet</p>
				{% endif %}
			</div>
		</div>

		<div class="following-section">
			<div class="following-header">
				<h2>Followed Users Posts</h2>
			</div>
			<div class="following-body">
				{% if followed_users_posts %}
					{% for post in followed_users_posts %}
						{{ macros.minimized_post(current_user, post, limit_content) }}
					{% endfor %}

					{% if followed_users_posts|length > 0 %}
						<button class="following-view-button" onclick="redirect(`{{ url_for('users.user_posts', username=followed_users[0].username) }}`)">
							Show {{ followed_users_posts|length }} More Posts
						</button>
					{% endif %}
				{% else %}
					<p class="following-filler">After you follow some users their posts they will show up here</p>
				{% endif %}
			</div>
		</div>

		{% if current_user.is_authenticated %}
			{{ macros.post_save_modal(current_user=current_user) }}
		{% endif %}
	</div>
{% endblock %}