{% extends "base.html" %}
{% block body %}
	<div id="main-body">
		<div class="library-section">
			<div class="library-header">
				<h2>Collections</h2>
			</div>
			<div class="library-body">
				{% if created_collections %}
					<div id="collections-container">
						{% for collection in created_collections %}
							<div class="collection-info-card">
								<img class="collection-image" width="320px" height="180px" src="{{ url_for('static', filename='images/collection_banners/' + collection.image_file) }}">
								<div class="collection-info" style="border: none;">
									<h2>
										{% if collection.type %}
											<a href="{{ url_for('collections.collection', list='RL') }}">
												{{ collection.name }}
											</a>
										{% else %}
											<a href="{{ url_for('collections.collection', list=collection.id) }}">
												{{ collection.name }}
											</a>
										{% endif %}
									</h2>

									<span>
										{{ collection.posts|length }} Posts · 

										{% if collection.date_updated_ago() %}
											 Last updated {{ collection.date_updated_ago() }}
										 {% else %}
										 	Never Updated Before
										{% endif %}
									</span>
								</div>
							</div>
						{% endfor %}
					</div>
				{% else %}
					<p class="library-filler">Once you create some collections they will show up here</p>
				{% endif %}
			</div>
		</div>

		<div class="library-section">
			<div class="library-header">
				<h2>History</h2>
			</div>
			<div class="library-body">
				{% if historical_posts %}
					{% for post in historical_posts %}
						{{ macros.minimized_post(current_user, post, historical_posts_limit_content) }}
					{% endfor %}

					{% if historical_posts_count > 0 %}
						<button class="library-view-button" onclick="redirect(`{{ url_for('main.history') }}`)">
							Show {{ historical_posts_count }} More Posts
						</button>
					{% endif %}
				{% else %}
					<p class="library-filler">Once you view some posts they will show up here</p>
				{% endif %}
			</div>
		</div>

		<div class="library-section">
			<div class="library-header">
				<h2>Liked Posts</h2>
			</div>
			<div class="library-body">
				{% if liked_posts %}
					{% for post in liked_posts %}
						{{ macros.minimized_post(current_user, post, liked_posts_limit_content) }}
					{% endfor %}

					{% if liked_posts_count > 0 %}
						<button class="library-view-button" onclick="redirect(`{{ url_for('main.liked') }}`)">
							Show {{ liked_posts_count }} More Posts
						</button>
					{% endif %}
				{% else %}
					<p class="library-filler">Once you like some posts they will show up here</p>
				{% endif %}
			</div>
		</div>

		<div class="library-section">
			<div class="library-header">
				<h2>Your Posts</h2>
			</div>
			<div class="library-body">
				{% if created_posts %}
					{% for post in created_posts %}
						{{ macros.minimized_post(current_user, post, created_posts_limit_content) }}
					{% endfor %}

					{% if created_posts_count > 0 %}
						<button class="library-view-button" onclick="redirect(`{{ url_for('users.user_posts', username=current_user.username) }}`)">
							Show {{ created_posts_count }} More Posts
						</button>
					{% endif %}
				{% else %}
					<p class="library-filler">After you create some posts they will show up here</p>
				{% endif %}
			</div>
		</div>

		{% if current_user.is_authenticated %}
			{{ macros.post_save_modal(current_user=current_user) }}
		{% endif %}
	</div>
{% endblock %}