{% extends 'base.html' %}

{% block body %}
	<div id="main-body">
		<div class="library-section">
			<div class="library-header">
				<h2>Collections</h2>
			</div>
			<div class="library-body">
				{% if created_collections %}
					{% for collection in created_collections %}
						<div id="collection-info-card">
							<img width="100%" src="{{ url_for('static', filename='images/banners/' + collection.author.banner_image) }}">
							<div id="collection-info">
								<h2>{{ collection.name }}</h2>
								<span>
									{{ length(collection.posts) }} Posts · 

									{% if collection.date_updated_ago() %}
										 Last updated {{ collection.date_updated_ago() }}
									 {% else %}
									 	Never Updated Before
									{% endif %}
								</span>
							</div>
							<div id="collection-creator-container">
								<div id="collection-creator">
									<a href="{{ url_for('users.user_page', username=collection.author.username) }}">
										<img height="32px" width="32px" draggable="false" src="{{ url_for('static', filename='images/profile_pics/' + collection.author.image_file) }}">
									</a>
									<a href="{{ url_for('users.user_page', username=collection.author.username) }}">{{ collection.author.username }}</a>
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<p class="library-filler">Once you create some collections they will show up here</p>
				{% endif %}
			</div>
		</div>

		<div class="library-section">
			<div class="library-header">
				<h2>History</h2>
			</div>
			<div class="library-body">
				{% if historical_posts %}
					{% for post in historical_posts %}
						<article class="post-container">
							<div class="post-header">
								<a href="{{ url_for('users.user_page', username=post.author.username) }}">
									<img class="post-user-img" height="32" width="32" draggable="false" src="{{ url_for('static', filename='images/profile_pics/' + post.author.image_file) }}">
								</a>
								<div class="post-header-info">
									<a href="{{ url_for('users.user_page', username=post.author.username) }}">
										{{ post.author.username }}
									</a>
									<span>{{ length(post.author.followers) }} Followers</span>
								</div>
							</div>

							<div class="post-title">
								<a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a>
								{{ post.views }} views · {{ post.date_posted_ago() }}
							</div>

							<p class="post-content">{{ historical_posts_limit_content[post.id] }}</p>
						</article>
					{% endfor %}

					{% if historical_posts_count > 0 %}
						<button class="library-view-button" onclick="redirect(`{{ url_for('main.history') }}`)">
							Show {{ historical_posts_count }} More Posts
						</button>
					{% endif %}
				{% else %}
					<p class="library-filler">Once you view some posts they will show up here</p>
				{% endif %}
			</div>
		</div>

		<div class="library-section">
			<div class="library-header">
				<h2>Liked Posts</h2>
			</div>
			<div class="library-body">
				{% if liked_posts %}
					{% for post in liked_posts %}
						<article class="post-container">
							<div class="post-header">
								<a href="{{ url_for('users.user_page', username=post.author.username) }}">
									<img class="post-user-img" height="32" width="32" draggable="false" src="{{ url_for('static', filename='images/profile_pics/' + post.author.image_file) }}">
								</a>
								<div class="post-header-info">
									<a href="{{ url_for('users.user_page', username=post.author.username) }}">
										{{ post.author.username }}
									</a>
									<span>{{ length(post.author.followers) }} Followers</span>
								</div>
							</div>

							<div class="post-title">
								<a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a>
								{{ post.views }} views · {{ post.date_posted_ago() }}
							</div>

							<p class="post-content">{{ liked_posts_limit_content[post.id] }}</p>
						</article>
					{% endfor %}

					{% if liked_posts_count > 0 %}
						<button class="library-view-button" onclick="redirect(`{{ url_for('main.liked') }}`)">
							Show {{ liked_posts_count }} More Posts
						</button>
					{% endif %}
				{% else %}
					<p class="library-filler">Once you like some posts they will show up here</p>
				{% endif %}
			</div>
		</div>

		<div class="library-section">
			<div class="library-header">
				<h2>Your Posts</h2>
			</div>
			<div class="library-body">
				{% if created_posts %}
					{% for post in created_posts %}
						<article class="post-container">
							<div class="post-header">
								<a href="{{ url_for('users.user_page', username=post.author.username) }}">
									<img class="post-user-img" height="32" width="32" draggable="false" src="{{ url_for('static', filename='images/profile_pics/' + post.author.image_file) }}">
								</a>
								<div class="post-header-info">
									<a href="{{ url_for('users.user_page', username=post.author.username) }}">
										{{ post.author.username }}
									</a>
									<span>{{ length(post.author.followers) }} Followers</span>
								</div>
							</div>

							<div class="post-title">
								<a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a>
								{{ post.views }} views · {{ post.date_posted_ago() }}
							</div>

							<p class="post-content">{{ created_posts_limit_content[post.id] }}</p>
						</article>
					{% endfor %}

					{% if created_posts_count > 0 %}
						<button class="library-view-button" onclick="redirect(`{{ url_for('users.user_posts', username=current_user.username) }}`)">
							Show {{ created_posts_count }} More Posts
						</button>
					{% endif %}
				{% else %}
					<p class="library-filler">After you create some posts they will show up here</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}