{% extends 'base.html' %}

{% block body %}
	<div id="main-body">
		<div id="post-cache-toolbar">
			<a href="{{ url_for('posts.new_post') }}">
				<button>+ New Post</button>				
			</a>
		</div>

		<form method="POST">
			<input type="hidden" name="post_cache_id">
		</form>

		<div id="post-cache-container">
			{% for post_cache in post_caches %}
				<div class="post-cache" id="post-cache-{{ post_cache.id }}" onclick="redirect(`{{ url_for('posts.new_post', post_cache_id=post_cache.id)|unquote }}`)">
					<div class="post-cache-header">
						<div class="post-cache-title">
							{% if post_cache.title %}
								{{ post_cache.title }}
							{% else %}
								Untitled Post
							{% endif %}
						</div>

						<div class="post-cache-dropdown-container">
							<img class="post-cache-dropdown-container-opener options-opener" style="display: none" height="32" width="32" draggable="false" src="{{ url_for('static', filename='icons/kebab_menu.png') }}"/>

							<div class="post-cache-dropdown-options" style="display: none;">
								<button type="button" class="post-cache-delete">Delete Post Cache</button>
							</div>
						</div>
					</div>

					<div class="post-cache-content">
						{% if limit_content[post_cache.id] %}
							{{ limit_content[post_cache.id] }}
						{% else %}
							Unable To Preview Post
						{% endif %}
					</div>
					
					<div class="post-cache-date">
						{{ post_cache.date_cached.strftime('%x') }}			
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}