{% extends 'base.html' %}

{% block body %}
	<div id="main-body">
		<article id="post-container">
			<div id="post-header">
				<div class="post-header">
					<a href="{{ url_for('users.user_page', username=post.author.username) }}">
						<img class="post-user-img" height="32" width="32" draggable="false" src="{{ url_for('static', filename='images/profile_pics/' + post.author.image_file) }}">
					</a>

					<div class="post-header-info">
						<a href="{{ url_for('users.user_page', username=post.author.username) }}">
							{{ post.author.username }}
						</a>
						<span id="post-followers-count">{{ length(post.author.followers) }} Followers</span>
					</div>

					{% if current_user.is_authenticated %}
						{% if current_user != post.author %}
							{% if author_followed %}
								<button class="following-button" id="follow-button" style="margin-left: 16px;">Following</button>
							{% else %}
								<button class="follow-button" id="follow-button" style="margin-left: 16px">Follow</button>
							{% endif %}
						{% endif %}
					{% else %}
						<a href="{{ url_for('users.signin', next=url_for('posts.post', post_id=post.id)|unquote) }}">
							<button class="follow-button" style="margin-left: 16px">Follow</button>
						</a>
					{% endif %}
				</div>

				{% if post.author == current_user %}
					<div>
						<button id="post-update-button" onclick="redirect(`{{ url_for('posts.update_post', post_id=post.id)|unquote }}`)">Update</button>
						<button id='post-delete-button'>Delete</button>
					</div>
				{% endif %}
			</div>

			<div class="post-title">
				<span>{{ post.title }}</span>
				{{ post.date_posted_ago() }}
			</div>

			{% with item = namespace(value=0) %}
				{% for text in post_splinted %}
					{% if is_media(text) == 'Yes' %}
						<img class="inserted-media" style="width: {{ get_media_size(text) }}%; 	margin: 24px 0;" src="{{ url_for('static', filename=rm_suffix(text)) }}">
					{% else %}
						{% if is_media(text) == 'Empty' %}
							<p></p>
						{% else %}
							<p class="post-content">{{ text }}</p>
						{% endif %}
					{% endif %}

					{% set item.value = item.value + 1 %}
				{% endfor %}
			{% endwith %}
		</article>

		<div id="columns">
			<div id="post-column">
				<div id="post-info-container">
					<span id="post-views">{{ post.views }} views · {{ post.date_posted_ago() }}</span>

					<div id="post-actions-container">
						{% if current_user.is_authenticated %}
							{% if post_liked_status == 'liked' %}
								<button id="post-like">
									<i class="post-like-img fa fa-thumbs-up"></i>
									<span>{{ length(post.post_likers) }}</span>
								</button>
								<button id="post-dislike">
									<i class="post-dislike-img fa fa-thumbs-o-down"></i>
									<span>{{ length(post.post_dislikers) }}</span>
								</button>
							{% elif post_liked_status == 'disliked' %}
								<button id="post-like">
									<i class="post-like-img fa fa-thumbs-o-up"></i>
									<span>{{ length(post.post_likers) }}</span>
								</button>
								<button id="post-dislike">
									<i class="post-dislike-img fa fa-thumbs-down"></i>
									<span>{{ length(post.post_dislikers) }}</span>
								</button>
							{% else %}
								<button id="post-like">
									<i class="post-like-img fa fa-thumbs-o-up"></i>
									<span>{{ length(post.post_likers) }}</span>
								</button>
								<button id="post-dislike">
									<i class="post-dislike-img fa fa-thumbs-o-down"></i>
									<span>{{ length(post.post_dislikers) }}</span>
								</button>
							{% endif %}

							<button id="post-save-opener">
								<i class="fa fa-list"></i>
								<span>Save</span>
							</button>
						{% else %}
							<button onclick="redirect(`{{ url_for('users.signin', next=url_for('posts.post', post_id=post.id)|unquote) }}`)">
								<i class="post-like-img fa fa-thumbs-o-up"></i>
								<span>{{ length(post.post_likers) }}</span>
							</button>
							<button onclick="redirect(`{{ url_for('users.signin', next=url_for('posts.post', post_id=post.id)|unquote) }}`)">
								<i class="post-dislike-img fa fa-thumbs-o-down"></i>
								<span>{{ length(post.post_dislikers) }}</span>
							</button>
							<button onclick="redirect(`{{ url_for('users.signin', next=url_for('posts.post', post_id=post.id)|unquote) }}`)">
								<i class="fa fa-list"></i>
								<span>Save</span>
							</button>
						{% endif %}
					</div>
				</div>

				<div id="comment-section-container">
					<div id="comment-section-header">
						<h3>{{ comments.count() }} Comments</h3>
						<button id="sort-button">
							<i class="fa fa-sort"></i>
							<span>SORT BY</span>
						</button>
					</div>

					<div id="comment-section">
						<div id="comment-create">
							<img class="comment-account-img" height="36" width="36" draggable="false" src="{{ image_file }}">
							<form id="comment-create-form" method="POST" action="{{ url_for('posts.comment', post_id=post.id) }}">
								{{ post_comment_form.hidden_tag() }}
								{% if current_user.is_authenticated %}
									{{ post_comment_form.content(class="comment-input", placeholder="Add a comment...") }}
									<div id="comment-create-options" style="display: none;">
										<button id="comment-create-cancel-button" type="button">Cancel</button>
										<button id="comment-create-comment-button" type="submit">Comment</button>
									</div>
								{% else %}
									<input class="comment-input" onclick="redirect(`{{ url_for('users.signin', next=url_for('posts.post', post_id=post.id)|unquote) }}`)" placeholder="Add a comment...">
								{% endif %}
							</form>
						</div>

						{% for comment in comments %}
							{% if not comment.comment_id %}
								<div class="comment" data-id="{{ comment.id}}">
									<a href="{{ url_for('users.user_page', username=comment.author.username) }}">
										<img class="comment-account-img" height="32" width="32" draggable="false" src="{{ url_for('static', filename='images/profile_pics/' + post.author.image_file) }}">
									</a>

									<div class="comment-body">
										<div class="comment-body-header">
											<a class="comment-author" href="{{ url_for('users.user_page', username=comment.author.username) }}">
												{{ comment.author.username }}
											</a>

											<span class="comment-date-posted">{{ comment.date_posted_ago() }}</span>
										</div>

										<p class="comment-body-content">{{ comment.content }}</p>

										<div class="comment-actions-container">
											{% if current_user.is_authenticated %}
												{% if comment_like_check(comment) == 'True' %}
													<button class="comment-like">
														<i class="comment-like-img fa fa-thumbs-up"></i>
														<span>{{ length(comment.comment_likers) }}</span>
													</button>
													<button class="comment-dislike">
														<i class="comment-dislike-img fa fa-thumbs-o-down"></i>
														<span>{{ length(comment.comment_dislikers) }}</span>
													</button>
												{% elif not comment_like_check(comment) %}
													<button class="comment-like">
														<i class="comment-like-img fa fa-thumbs-o-up"></i>
														<span>{{ length(comment.comment_likers) }}</span>
													</button>
													<button class="comment-dislike">
														<i class="comment-dislike-img fa fa-thumbs-down"></i>
														<span>{{ length(comment.comment_dislikers) }}</span>
													</button>
												{% else %}
													<button class="comment-like">
														<i class="comment-like-img fa fa-thumbs-o-up"></i>
														<span>{{ length(comment.comment_likers) }}</span>
													</button>
													<button class="comment-dislike">
														<i class="comment-dislike-img fa fa-thumbs-o-down"></i>
														<span>{{ length(comment.comment_dislikers) }}</span>
													</button>
												{% endif %}

												<button class="comment-reply-button">REPLY</button>
											{% else %}
												<button onclick="redirect(`{{ url_for('users.signin', next=url_for('posts.post', post_id=post.id)|unquote) }}`)">
													<i class="post-like-img fa fa-thumbs-o-up"></i>
													<span>{{ length(comment.comment_likers) }}</span>
												</button>

												<button onclick="redirect(`{{ url_for('users.signin', next=url_for('posts.post', post_id=post.id)|unquote) }}`)">
													<i class="post-dislike-img fa fa-thumbs-o-down"></i>
													<span>{{ length(comment.comment_dislikers) }}</span>
												</button>

												<button class="comment-reply-button" onclick="redirect(`{{ url_for('users.signin', next=url_for('posts.post', post_id=post.id)|unquote) }}`)">
													REPLY
												</button>
											{% endif %}
										</div>

										<!-- Comment Form -->
										<div class="comment-create" style="display: none;">
											<img class="comment-account-img" height="36" width="36" draggable="false" src="{{ image_file }}"/>
											<form id="comment-create-form" method="POST" action="{{ url_for('posts.comment', post_id=post.id, comment_id=comment.id) }}">
												{{ comment_comment_form.hidden_tag() }}
												{% if current_user.is_authenticated %}
													{{ comment_comment_form.content(class="comment-input", placeholder="Reply...") }}
													<div class="comment-reply-buttons" style="display: flex;">
														<button class="comment-reply-cancel-button" type="button">Cancel</button>
														<button class="comment-reply-submit-button">Comment</button>
													</div>
												{% else %}
													<a href="{{ url_for('users.signin', next=url_for('posts.post', post_id=post.id)|unquote) }}">
														<input class="comment-input" placeholder="Reply...">
													</a>
												{% endif %}
											</form>
										</div>

										{% with comment_reply_count = namespace(value=0) %}
											{% for comment_reply in comments %}
												{% if comment_reply.comment_id == comment.id %}
													{% set comment_reply_count.value = comment_reply_count.value + 1 %}
												{% endif %}
											{% endfor %}

											{% if comment_reply_count.value > 0 %}
												<button class="comment-view-reply-button">
													<i class="comment-view-reply-image fa fa-caret-down"></i>
													View {{ comment_reply_count.value }} replies
												</button>

												<div class="comment-replies-container" style="display: none;">
													{% for comment_reply in comments %}
														{% if comment_reply.comment_id == comment.id %}
															<div class="comment-reply" data-id="{{ comment_reply.id}}" data-username="{{ comment_reply.author.username }}">
																<a href="{{ url_for('users.user_page', username=comment_reply.author.username) }}">
																	<img class="comment-account-img" height="32" width="32" draggable="false" src="{{ url_for('static', filename='images/profile_pics/' + comment_reply.author.image_file) }}">
																</a>

																<div class="comment-body">
																	<div class="comment-body-header">
																		<a class="comment-author" href="{{ url_for('users.user_page', username=comment_reply.author.username) }}">
																			{{ comment_reply.author.username }}
																		</a>

																		<span class="comment-date-posted">{{ comment_reply.date_posted_ago() }}</span>
																	</div>

																	<p class="comment-body-content">{{ comment_reply.content }}</p>

																	<div class="comment-actions-container">
																		{% if current_user.is_authenticated %}
																			{% if comment_like_check(comment_reply) == 'True' %}
																				<button class="comment-like">
																					<i class="comment-like-img fa fa-thumbs-up"></i>
																					<span>{{ length(comment_reply.comment_likers) }}</span>
																				</button>
																				<button class="comment-dislike">
																					<i class="comment-dislike-img fa fa-thumbs-o-down"></i>
																					<span>{{ length(comment_reply.comment_dislikers) }}</span>
																				</button>
																			{% elif not comment_like_check(comment_reply) %}
																				<button class="comment-like">
																					<i class="comment-like-img fa fa-thumbs-o-up"></i>
																					<span>{{ length(comment_reply.comment_likers) }}</span>
																				</button>
																				<button class="comment-dislike">
																					<i class="comment-dislike-img fa fa-thumbs-down"></i>
																					<span>{{ length(comment_reply.comment_dislikers) }}</span>
																				</button>
																			{% else %}
																				<button class="comment-like">
																					<i class="comment-like-img fa fa-thumbs-o-up"></i>
																					<span>{{ length(comment_reply.comment_likers) }}</span>
																				</button>
																				<button class="comment-dislike">
																					<i class="comment-dislike-img fa fa-thumbs-o-down"></i>
																					<span>{{ length(comment_reply.comment_dislikers) }}</span>
																				</button>
																			{% endif %}

																			<button class="comment-reply-button">REPLY</button>
																		{% else %}
																			<button onclick="redirect(`{{ url_for('users.signin', next=url_for('posts.post', post_id=post.id)|unquote) }}`)">
																				<i class="post-like-img fa fa-thumbs-o-up"></i>
																				<span>{{ length(comment_reply.comment_likers) }}</span>
																			</button>

																			<button onclick="redirect(`{{ url_for('users.signin', next=url_for('posts.post', post_id=post.id)|unquote) }}`)">
																				<i class="post-dislike-img fa fa-thumbs-o-down"></i>
																				<span>{{ length(comment_reply.comment_dislikers) }}</span>
																			</button>

																			<button class="comment-reply-button" onclick="redirect(`{{ url_for('users.signin', next=url_for('posts.post', post_id=post.id)|unquote) }}`)">
																				REPLY
																			</button>
																		{% endif %}
																	</div>
																</div>
															</div>
														{% endif %}
													{% endfor %}
												</div>
											{% endif %}
										{% endwith %}
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>

			<div id="recommended-posts">
				{% if collection %}
					<div id="post-collection-container">
						<header id="post-collection-header">
							<div>
								<a href="{{ url_for('collections.collection', list=list_arg) }}"><h2>{{ collection.name }}</h2></a>
								<span><a href="{{ url_for('users.user_page', username=post.author.username) }}">{{ collection.author.username }}</a> - {{ length(collection.posts) }} Posts</span>
							</div>

							<button id="post-collection-toggle" onclick="post_collection_toggle()">
								✖
							</button>
						</header>

						<div id="post-collection-body" style="display: block;">
							{% for post in collection.posts %}
								<article class="post-container">
									<div class="post-header">
										<a href="{{ url_for('users.user_page', username=post.author.username) }}">
											<img class="post-user-img" height="32" width="32" draggable="false" src="{{ url_for('static', filename='images/profile_pics/' + post.author.image_file) }}">
										</a>
										<div class="post-header-info">
											<a href="{{ url_for('users.user_page', username=post.author.username) }}">
												{{ post.author.username }}
											</a>
											<span>{{ length(post.author.followers) }} Followers</span>
										</div>
									</div>

									<div class="post-title">
										<a href="{{ url_for('posts.post', post_id=post.id, list=list_arg) }}">{{ post.title }}</a>
										{{ post.views }} views · {{ post.date_posted_ago() }}
									</div>

									<p class="post-content">{{ limit_content[post.id] }}</p>
								</article>
							{% endfor %}
						</div>
					</div>
				{% endif %}

				{% for post in recommended_posts %}
					<article class="post-container">
						<div class="post-header">
							<a href="{{ url_for('users.user_page', username=post.author.username) }}">
								<img class="post-user-img" height="32" width="32" draggable="false" src="{{ url_for('static', filename='images/profile_pics/' + post.author.image_file) }}">
							</a>
							<div class="post-header-info">
								<a href="{{ url_for('users.user_page', username=post.author.username) }}">
									{{ post.author.username }}
								</a>
								<span>{{ length(post.author.followers) }} Followers</span>
							</div>
						</div>

						<div class="post-title">
							<a href="{{ url_for('posts.post', post_id=post.id, list=list_arg) }}">{{ post.title }}</a>
							{{ post.views }} views · {{ post.date_posted_ago() }}
						</div>

						<p class="post-content">{{ limit_content[post.id] }}</p>
					</article>
				{% endfor %}
			</div>
		</div>

		<!-- Post Save -->
		<div id="post-save-container" style="display: none;">
			<div id="post-save-header">
				<h3>Save To...</h3>
				<button id="post-save-close">✖</button>
			</div>
			<div id="post-save-option-container-container">
				{% for collection in current_user.collections %}
					<div class="post-save-option-container" data-collection-id="{{ collection.id }}">
						{% if post in collection.posts %}
							<input type="checkbox" checked>
						{% else %}
							<input type="checkbox">
						{% endif %}
						<button type="button">{{ collection.name }}</button>
					</div>
				{% endfor %}

				<div id="create-collection-container" style="display: none;">
					<label for="create-collection-name">Name</label>
					<input id="create-collection-name" name="name" type="text">
					<div id="create-collection-buttons">
						<button id="create-collection-submit" type="submit">Create Collection</button>
						<button id="create-collection-cancel" type="button">Cancel</button>
					</div>
				</div>
			</div>
			<button id="post-save-create-new">
				<i class="fa fa-plus"></i>
				Create New Collection
			</button>
		</div>

		<!-- Modal -->
		<div id="post-delete-modal" style="display: none;">
			<div id="post-delete-modal-header">
				<h3>Are you sure you want to delete the post?</h3>
				<p>The post will be unrecoverable</p>
			</div>

			<div id="post-delete-modal-body">
				<button id="post-delete-modal-close">Cancel</button>
				<button id="post-delete-modal-submit">Delete</button>
			</div>
		</div>
	</div>
{% endblock %}