{% extends 'base.html' %}
{% block body %}
	<div style="display: flex;">
		<nav id="settings-nav">
			<div>
				<h1>Settings</h1>
			</div>

			<a href="{{ url_for('settings.account') }}">
				<div>
					<i class="fa fa-user" aria-hidden="true"></i>
					Account
				</div>
			</a>

			<a href="{{ url_for('settings.reset_password') }}">
				<div id="selected-settings-nav">
					<i class="fa fa-unlock-alt" aria-hidden="true"></i>
					Reset Password
				</div>
			</a>

			<a href="{{ url_for('settings.main_settings') }}">
				<div>
					<i class="fa fa-cog" aria-hidden="true"></i>
					Settings
				</div>
			</a>
		</nav>

		<div id="settings-main">
			<h1>Reset Password</h1>

			<form id="account-form" method="POST" action="">
				{{ form.hidden_tag() }}

				<div id="reset-password-form-field-container">
					<div class="account-form-field">
						{% if form.password.errors %}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% endif %}

						<legend>New Password</legend>
						{{ form.password(class="account-form-field-input") }}
					</div>

					<div class="account-form-field">
						{% if form.confirm_password.errors %}
							<div class="invalid-feedback">
								{% for error in form.confirm_password.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% endif %}

						<legend>Confirm Password</legend>
						{{ form.confirm_password(class="account-form-field-input") }}
					</div>
				</div>

				{{ form.save_password(id="account-form-save-changes") }}
			</form>
		</div>
	</div>
{% endblock %}