{% extends "base.html" %}
{% block body %}
	<div id="main-body">
		<div id="sign-in-container">
			<form id="sign-in-form" method="POST" action="">
				{{ form.csrf_token }}
				<div>
					<div id="sign-in-form-header">
						<h1>Sign In</h1>
						<span>Welcome Back</span>
					</div>

					{% with messages = get_flashed_messages(with_categories=true) %} 
						{% if messages %} 
							{% for category, message in messages %}
								<div class="sign-in-form-error">
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}
					{% endwith %}

					<div id="sign-in-form-body">
						<div class="sign-in-form-body-div">
							{% if form.email.errors %}
								{% for error in form.email.errors %}
									<div class="sign-in-form-error">
										{{ error }}
									</div>
								{% endfor %}
							{% endif %}

							{{ form.email(class="sign-in-input", placeholder="Username or Email") }}
						</div>

						<div class="sign-in-form-body-div">
							{% if form.password.errors %}
								{% for error in form.password.errors %}
									<div class="sign-in-form-error">
										{{ error }}
									</div>
								{% endfor %}
							{% endif %}

							{{ form.password(class="sign-in-input", placeholder="Password") }}
						</div>

						<div id="sign-in-form-body-2">
							<div>
								<div>
									<input name="remember" type="checkbox" checked>
									Remember Me
								</div>
								<a href="{{ url_for('users.reset_password_request') }}">Forgot Password?</a>
							</div>

							{{ form.submit(id="sign-in-form-submit", value="Sign In") }}
						</div>
					</div>
				</div>

				<span>
					Need have an account?
					<a href="{{ url_for('users.register') }}">Sign Up</a>
				</span>
			</form>
		</div>
	</div>
{% endblock%}