{% extends 'base.html' %}
{% block body %}
	<div id="main-body-nm">
		<div id="user-page-header">
			<img id="user-page-header-background" src="{{ url_for('static', filename='images/banners/' + user.banner_image) }}">
			<div id="user-page-header-info">
				<div style="display: flex;">
					<img class="followed-user-img" height="96" width="96" draggable="false" src="{{ url_for('static', filename='images/profile_pics/' + user.image_file) }}">
					<div id="user-page-header-info-info">
						<h2>{{ user.username }}</h2>
						<span class="text-muted">{{ length(user.followers) }} Followers</span>
					</div>
				</div>
				<div>
					{% if current_user.is_authenticated %}
						{% if current_user != user %}
							{% if user_followed %}
								<button class="following-button" style="margin-right: 32px;">Following</button>
							{% else %}
								<button class="follow-button" style="margin-right: 32px;">Follow</button>
							{% endif %}
						{% endif %}
					{% else %}
						<a href="{{ url_for('users.signin', next=url_for('users.user_page', username=user.username)|unquote) }}">
							<button class="follow-button" style="margin-right: 32px;">Follow</button>
						</a>
					{% endif %}
				</div>
			</div>
			<div id="user-page-nav-container">
				<nav id="user-page-nav">
					<div class="user-page-nav-item" onclick="redirect(`{{ url_for('users.user_page', username=user.username) }}`)">
						Home
					</div>

					<div class="user-page-nav-item" onclick="redirect(`{{ url_for('users.user_posts', username=user.username) }}`)">
						Posts
					</div>

					<div class="user-page-nav-item" onclick="redirect(`{{ url_for('users.user_collections', username=user.username) }}`)">
						Collections
					</div>

					<div class="user-page-nav-item-selected">
						About
					</div>

					<div class="user-page-nav-item">
						Search
					</div>
				</nav>
			</div>

			<div id="user-page-body" style="flex-direction: row; gap: 64px;">
				<div id="user-description-container">
					{% if current_user == user %}
						{% if user.description %}
							<h2>Description</h2>
							<p id="user-description" style="display: block;">{{ user.description }}</p>
							<button id="edit-description-button" type="button" onclick="edit_description_toggle()" style="display: block;">Edit Description</button>

							<form id="user-description-form" method="POST" style="display: none;">
								{{ form.hidden_tag() }}
								{{ form.description(id="user-description-textarea", placeholder="Enter a description about yourself...") }}
								<script type="text/javascript">
									document.querySelector("#user-description-textarea").value = `{{ user.description }}`
								</script>
								<div style="display: flex;">
									<button id="user-description-cancel" type="button" onclick="edit_description_toggle()">Cancel</button>
									{{ form.submit(id="user-description-submit", type="submit") }}
								</div>
							</form>
						{% else %}
							<h2>Description</h2>
							<form id="user-description-form" method="POST">
								{{ form.hidden_tag() }}
								{{ form.description(id="user-description-textarea", placeholder="Enter a description about yourself...") }}
								{{ form.submit(id="user-description-submit", type="submit") }}
							</form>
						{% endif %}
					{% else %}
						{% if user.description %}
							<h2>Description</h2>
							<p id="user-description">{{ user.description }}</p>
						{% else %}
							<h2>Description</h2>
						{% endif %}
					{% endif %}
				</div>
				<div>
					<div id="user-info">
						<h2>Info</h2>
						<p>Joined {{ user_date_joined }}</p>
						<p>{{ user_total_views }} views</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}