{% extends 'base.html' %}
{% block body %}
	<div id="main-body-nm">
		<div id="user-page-header">
			<img id="user-page-header-background" src="{{ url_for('static', filename='images/banners/' + user.banner_image) }}">
			<div id="user-page-header-info">
				<div style="display: flex;">
					<img class="followed-user-img" height="96" width="96" draggable="false" src="{{ url_for('static', filename='images/profile_pics/' + user.image_file) }}">
					<div id="user-page-header-info-info">
						<h2>{{ user.username }}</h2>
						<span class="text-muted">{{ length(user.followers) }} Followers</span>
					</div>
				</div>
				<div>
					{% if current_user.is_authenticated %}
						{% if current_user != user %}
							{% if user_followed %}
								<button class="following-button" style="margin-right: 32px;">Following</button>
							{% else %}
								<button class="follow-button" style="margin-right: 32px;">Follow</button>
							{% endif %}
						{% endif %}
					{% else %}
						<a href="{{ url_for('users.signin', next=url_for('users.user_page', username=user.username)|unquote) }}">
							<button class="follow-button" style="margin-right: 32px;">Follow</button>
						</a>
					{% endif %}
				</div>
			</div>
			<div id="user-page-nav-container">
				<nav id="user-page-nav">
					<div class="user-page-nav-item" onclick="redirect(`{{ url_for('users.user_page', username=user.username) }}`)">
						Home
					</div>

					<div class="user-page-nav-item" onclick="redirect(`{{ url_for('users.user_posts', username=user.username) }}`)">
						Posts
					</div>

					<div class="user-page-nav-item-selected">
						Collections
					</div>

					<div class="user-page-nav-item" onclick="redirect(`{{ url_for('users.user_about', username=user.username) }}`)">
						About
					</div>

					<div class="user-page-nav-item">
						Search
					</div>
				</nav>
			</div>

			<div id="user-page-body">
				{% if user_collections %}
					{% for collection in user_collections %}
						<p>{{ collection.name }}</p>
					{% endfor %}
				{% else %}
					<p>This User Hasn't Created Any Collections Yet</p>
				{% endif %}
				
			</div>
		</div>
	</div>
{% endblock body %}