{% extends 'base.html' %}
{% block body %}
	<div id="main-body-nm">
		<div id="user-page-header">
			<img id="user-page-header-background" src="{{ url_for('static', filename='images/banners/' + user.banner_image) }}">
			<div id="user-page-header-info">
				<div style="display: flex;">
					<img class="followed-user-img" height="96" width="96" draggable="false" src="{{ url_for('static', filename='images/profile_pics/' + user.image_file) }}">
					<div id="user-page-header-info-info">
						<h2>{{ user.username }}</h2>
						<span class="text-muted">{{ length(user.followers) }} Followers</span>
					</div>
				</div>
				<div>
					{% if current_user.is_authenticated %}
						{% if current_user != user %}
							{% if user_followed %}
								<button class="following-button" style="margin-right: 32px;">Following</button>
							{% else %}
								<button class="follow-button" style="margin-right: 32px;">Follow</button>
							{% endif %}
						{% endif %}
					{% else %}
						<a href="{{ url_for('users.signin', next=url_for('users.user_page', username=user.username)|unquote) }}">
							<button class="follow-button" style="margin-right: 32px;">Follow</button>
						</a>
					{% endif %}
				</div>
			</div>
			<div id="user-page-nav-container">
				<nav id="user-page-nav">
					<div class="user-page-nav-item" onclick="redirect(`{{ url_for('users.user_page', username=user.username) }}`)">
						Home
					</div>

					<div class="user-page-nav-item-selected">
						Posts
					</div>

					<div class="user-page-nav-item" onclick="redirect(`{{ url_for('users.user_collections', username=user.username) }}`)">
						Collections
					</div>

					<div class="user-page-nav-item" onclick="redirect(`{{ url_for('users.user_about', username=user.username) }}`)">
						About
					</div>

					<div class="user-page-nav-item">
						Search
					</div>
				</nav>
			</div>

			<div id="user-page-body">
				{% if all_user_posts %}
					<div id="user-posts-header">
						<h3>{{ posts_count }} Posts</h3>
					</div>

					{% for post in all_user_posts %}
						<article class="post-container">
							<div class="post-header">
								<img class="post-user-img" height="32" width="32" draggable="false" src="{{ url_for('static', filename='images/profile_pics/' + post.author.image_file) }}">
								<div class="post-header-info">
									<a href="{{ url_for('users.user_posts', username=post.author.username) }}">
										{{ post.author.username }}
									</a>
									<span>{{ length(post.author.followers) }} Followers</span>
								</div>
							</div>

							<div class="post-title">
								<a href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a>
								{{ post.views }} views · {{ post.date_posted_ago() }}
							</div>

							<p class="post-content">{{ limit_content[post.id] }}</p>
						</article>
					{% endfor %}
				{% else %}
					<p>This User Hasn't Posted Anything Yet</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock body %}