{% extends 'base.html' %}

{% block body %}
	<div id="main-body">
		<div id="post-container">
			<form id="create-post-form" name="create-post-form" method="POST" enctype="multipart/form-data" action="{{ url_for('posts.new_post', post_cache_id=post_cache.id) }}">
				{{ post_form.hidden_tag() }}

				<div id="create-post-header">
					<legend style="font-size: 32px;">Create New Post</legend>

					<div id="create-post-insert-container">
						<button id="create-post-insert-button" type="button">
							Insert Media
						</button>

						<div id="create-post-insert-menu" style="display: none;">
							<div id="create-post-insert-import">
								{% if post_form.import_file.errors %}
									<div class="create-post-insert-import-error">
										{% for error in post_form.import_file.errors %}
											{{ error }}
										{% endfor %}
									</div>
								{% endif %}

								{{ post_form.import_file(accept="image/*, video/*") }}
								{{ post_form.submit_insert(id="create-post-insert-submit-button") }}
							</div>

							{% for media in uploaded_media %}
								<div class="input-element uploaded-media-container" style="display: flex;">
									<div class="uploaded-media-options" style="display: none;">
										<img class="options-opener uploaded-media-options-opener" height="32" width="32" draggable="false" src="{{ url_for('static', filename='icons/kebab_menu.png') }}"/>

										<button id="uploaded-media-remove-{{ uploaded_media.id }}" class="uploaded-media-remove" type="button" style="display: none;">
											Remove
										</button>
									</div>

									<img class="uploaded-media" src="{{ url_for('static', filename=media.file) }}">
								</div>
							{% endfor %}
						</div>
					</div>
				</div>

				<div id="new-post-title">
					<label id="new-post-title-label">Title</label>
					<!-- Outputs Errors-->
					{% if post_form.title.errors %}
						<div class="new-post-form-error">
							{% for error in post_form.title.errors %}
								{{ error }}
							{% endfor %}
						</div>
					{% endif %}

					{{ post_form.title(id="new-post-title-input") }}
				</div>

				<div id="new-post-content">
					<label id="new-post-content-label">Content</label>

					{% with item = namespace(value=0) %}
						{% for text in splinted %}
							{% if is_media(text) %}
								<div class="input-element inserted-media-container" id="inserted-media-{{ item.value }}">
									<div class="inserted-media-dropdown-container" style="display: none;">
										<img class="options-opener inserted-media-dropdown-opener" height="32" width="32" draggable="false" src="{{ url_for('static', filename='icons/kebab_menu.png') }}"/>

										<div class="inserted-media-dropdown" style="display: none;">
											<div class="inserted-media-height">
												<label>Height</label>
												<input type="range" name="height-{{ item.value }}" oninput="this.nextElementSibling.value = this.value + '%'">
												<output>50%</output>
											</div>
											<div class="inserted-media-width">
												<label>Width</label>
												<input type="range" name="width-{{ item.value }}" oninput="this.nextElementSibling.value = this.value + '%'">
												<output>50%</output>
											</div>
											<!-- handle with js -->
											<button class="inserted-media-remove" id="inserted-media-remove-{{ item.value }}">
												Remove Media
											</button>
										</div>
									</div>

									<img class="inserted-media" src="{{ url_for('static', filename=rm_suffix(text)) }}">
									<input type="hidden" name="{{ item.value }}" value="{{ rm_suffix(text) }}">
								</div>
							{% else %}
								<div class="input-element" id="textarea-{{ item.value }}">
									<div class="textarea-dropdown-container" style="display: none;">
										<img class="options-opener textarea-dropdown-opener" height="32" width="32" draggable="false" src="{{ url_for('static', filename='icons/kebab_menu.png') }}"/>

										<div class="textarea-dropdown" style="display: none;">
											<!-- bold, italic, h-link, ect -->

											<button class="textarea-remove" id="textarea-remove-{{ item.value }}">
												Remove Textarea
											</button>
										</div>
									</div>

									<textarea class="create-post-textarea" name="{{ item.value }}">{{ text }}</textarea>
								</div>
							{% endif %}

							{% set item.value = item.value + 1 %}
						{% endfor %}
					{% endwith %}
				</div>

				{{ post_form.submit(id="new-post-submit-button") }}
			</form>
		</div>
		<form action="{{ url_for('posts.new_post', post_cache_id=post_cache.id) }}">
			
		</form>
	</div>
{% endblock %}