{% extends 'base.html' %}

{% block body %}
	<div id="main-body">
		<h2 style="color: #ffffff; margin-bottom: 8px;">Liked Posts</h2>
		<div id="posts-container">
		</div>

		<template id="post-template">
			<article class="post-container">
				<div class="post-header">
					<img class="post-user-img" height="32" width="32" draggable="false">
					<div class="post-header-info">
						<a></a>
						<span></span>
					</div>
				</div>

				<div class="post-title">
					<a></a>
				</div>

				<p class="post-content"></p>
			</article>
		</template>

		<article id="fake-post" class="post-container">
			<div class="post-header">
				<div id="fake-post-user-img"></div>
				<div id="fake-post-username"></div>
			</div>

			<div id="fake-post-title-container">
				<div id="fake-post-title"></div>
				<div id="fake-post-date"></div>
			</div>

			<div style="margin-top: 8px;">
				<div class="fake-post-text"></div>
				<div class="fake-post-text"></div>
				<div class="fake-post-text"></div>
				<div class="fake-post-text"></div>
			</div>
		</article>
	</div>
{% endblock %}